
// global base - import in every stylesheet
@import "base";


//Basic
.basic-page-content
{
	
	line-height: 1.5em;
	font-size: 13px;
	
	img
	{
		max-width: 100%;}
	
	
h1,h2,h3,h4,h5,h6
{
	color: #32a43f;
	font-family: $font-upper;
	font-weight:bold;
	text-transform:uppercase;
}

h1
{
	font-size:14px;
	margin-bottom:10px;
}



h2
{
	font-size:16px;
	margin-bottom:10px;
}

h3
{
	font-size:18px;
	margin-bottom:10px;
}

h4
{
	font-size:20px;
	margin-bottom:10px;
}

h5
{
	font-size:22px;
	margin-bottom:10px;
}

h6
{
	font-size:24px;
	margin-bottom:10px;
}

p
{
	margin: 20px 0;
	
	&:first-child
	{
		margin-top:0;
	}
	
}

a
{
	color:#32a43f;
}
strong,b
{
	font-weight:bold;
}
em
{
	font-style:italic;
}



ul
{
	margin: 20px;
	
	li
	{
		position:relative;
		margin-top: 8px;
		
		&:before
		{
		display:block;
		content:"";
		width: 6px;
		height: 6px;
		background: #32a43f;
		@include border-radius(10px);
		position:absolute;
		left: -15px;
		top: 8px;
		}
	}
}
}



.basic-left
{
	float:left;
	width: 720px;
}







.basic-right
{
	float:right;
	width: 340px;
}


	blockquote
	{
	&:before{
		display:inline-block;
		content:"„";
font-size: 32px;
color: #b7b9b5;
height: 25px;
text-align: left;
width: 18px;
	
	}
		&:after{
		display:inline-block;
		content:"“";
font-size: 32px;
color: #b7b9b5;

text-align: left;
width: 18px;
	
	height: 25px;

	
	}
	
	
	}
	
	
	//Services
	
	.services
{
	background: #c4d1c5;
	
		.header
	{
		width: 100%!important;
	}
	.footer
	{
		height: 500px;
	}
	
	
	
	.services-items-block
{
	margin-top: 50px;
	}
	
	
	.services-item
	{
		float:left;
		width:248px;
		margin-left: 13px;
		position:relative;
		height: 161px;
		
		
		
		a{
			display:block;
			font-size:0;
			
			&:hover
			{
				opacity:0.7;
			}
		}
		
		&:first-child
		{
			margin-left: 0;
		}
		
		.services-title
		{
			background: $green;
			color: $white;
			position: absolute;
			bottom: 2px;
			left: 2px;
			width: 244px;
			font-size: 16px;
			padding: 10px 15px;
			box-sizing:border-box;
			display:block;
			
			&:hover
			{
				opacity: 0.8;
			}
		}
	}
}


.services-list-page .page-content
{
	padding: 60px 107px 70px;
}


