// global base - import in every stylesheet
@import "base";



#googlemaps
{
	height: 607px;
}



.contact-left
{
	float: left;
	width: 686px;
	position:relative;
	
	.gm-style>div:first-child:before
	{
		display:block;
		content:"";
		width: 100%;
		height: 100%;
		position:absolute;
		top:0;
		left: 0;
			  @include box-shadow(inset 0px 0px  5px 0px rgba(#000, 0.5) );
			  z-index: 999;
	}
	
}


.contact-right
{
	float: right;
	width: 386px;
}



.contact-title
{
	color: $green;
	font-family: $font-upper;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 24px;
	text-transform:uppercase;
	font-weight: bold;
}



.contact-information
{
	margin-bottom: 65px;
}


.contact-information-item
{
	margin-top: 15px;
	line-height:16px;
	
	&.contact-address
	{
		background: image-url("contact-info-address.png") no-repeat left center;
		padding-left: 25px
	}
	
		&.contact-phone
	{
		background: image-url("contact-info-phone.png") no-repeat left center;
		padding-left: 25px
	}
	
	
		&.contact-mail
	{
		background: image-url("contact-info-mail.png") no-repeat left center;
		padding-left: 25px
	}
	
	
	&:first-child
	{
		margin-top: 0;
	}
}

.contact-form-item
{
	margin-top: 9px;
	
	&:first-child
	{
		margin-top: 0;
	}
}

.input-style
{
	width: 100%;
	border: 1px solid $green;
	line-height:41px;
	padding: 0 16px;
	box-sizing: border-box;
	font-family: $font-normal;
	
	
	@include input-placeholder {
				 color:#222222;
	 @include transition(all 0.3s);
	
	
			 } ;
			
			
			&:focus
			{
			
			@include input-placeholder { color:transparent} ;
			}
			
			&:hover
			{
			//@include box-shadow( 0px 0px  3px 0px rgba(#000, 0.4) );

			}
}





.textarea-style
{
		width: 100%;
	border: 1px solid $green;
	line-height:20px;
	padding: 8px 16px;
	box-sizing: border-box;
	font-family: $font-normal;
	height: 190px;
	resize:none;
	
	
	
	@include input-placeholder {
				 color:#222222;
	 @include transition(all 0.3s);
	
	
			 } ;
			
			
			&:focus
			{
			
			@include input-placeholder { color:transparent} ;
			}
			
			&:hover
			{
			//@include box-shadow( 0px 0px  3px 0px rgba(#000, 0.4) );

			}
}


.captcha-style
{
	position:relative;
	
	
	.captcha-img
	{
		position:absolute;
		right:1px;
		top: 1px;
		height: 41px;;
	}
}


.contact-textarea-item
{
	overflow: hidden;
	position:relative;
	height: 190px;
	padding-right: 1px;
	
	&:before
	{
		display:block;
		content:"";
		width: 54px;
		height: 54px;
		border: 1px solid $green;
		background: $white;
		position:absolute;
		bottom: -27px;
		right: -27px;
		@include border-radius(60px);
	}
}





.contact-submit-item
{
	
	
	position: relative;
	
	.contact-submit
	{
		
		background: image-url("contact-submit.png") no-repeat center center;
		
		width: 38px;
		height:37px;
		position:absolute;

		border:0;
		font-size: 0;
		cursor: pointer;
		 @include transition(all 0.5s);
		    right: -16px;
    top: -23px;
		
		&:hover
		{
			opacity:0.7
		}
		
	}


}




