// global base - import in every stylesheet
@import "base";
.basic,
.contact
{
	background: #c4d1c5;
	
	.overflow-layer
	{
		display: none;
	}
	
	.header
	{
		width: 100%!important;
	}
	.footer
	{
		height: 500px;
	}
}

.site-content
{
	padding-top: 172px;
	position:relative;
	

	

}

.page-title
{
	color: #f4fbf5;
	font-family: $font-upper;
	font-size:40px;
	text-align:center;
	margin-bottom:50px;
	text-transform: uppercase;
	font-weight: bold;
}


.page-content-wrap
{

	position: relative;
	
	
	.page-content{
		position: relative;	
		background: $white;
	padding:60px 65px 70px;	
	z-index: 20;
	
		
	}
	
	
	&:before
	{
		display:block;
		content:"";
		width: 50px;
		height:100%;
		background: image-url("site-content-shadow-left.png") no-repeat top left;
		position:absolute;
		left:-20px;
		top:0;
		z-index: 10;
	
		
	}
		&:after
	{
		display:block;
		content:"";
		width: 50px;
		height:100%;
		background: image-url("site-content-shadow-right.png") no-repeat top left;
		position:absolute;
		right:-20px;
		top:0;
		z-index: 10;
		
	}
}


