// global base - import in every stylesheet
@import "base";











.mobile-only,
.only-mobile
{
display: none;
}



@media only screen and (max-width: 768px) {
 



.mobile-only,
.only-mobile
{
display: block;
}

.hide
{
	display:none;
}

.container
{
	width: 100%;
	padding-left:15px;
	padding-right:15px;
	box-sizing:border-box;
}

.desctop-only
{
	display: none!important;

}

#loop-menu,
.footer-menu,
.abs-block,
{
	display:none;
}


.section
{
	height: 156px;
}

.header
{
	position:static;
	height: 80px;
	
	.logo
	{
		margin-toP: 20px;
		
		img
		{
			height:49px;
		}
	}
	
	
	.lang-selector
	{
			display:inline-block;
			vertical-align:middle;
			margin-right: 25px;
	}
	
	
	.header-right
	{
		margin-top:30px; 
		
	}
	.main-menu-block
{
	position:relative;
	margin-top: 0px;
	float:none;
	display:inline-block;
	vertical-align:middle;
	
	
	
	.add-menu
	{
		font-family: $font-en;
		text-transform:none;
		font-weight:normal;
		font-size:14px!important; 
		margin-top: 120px!important;
		
		a
		{
			padding: 10px 30px!important; 
			
		}
	}
	
	.main-menu
{
	position:absolute;
	background: #238a2f;
	top:-48px;
	right:0;
@include transition(all 0.3s);
	z-index: 9999999;@include box-shadow( 0px 0px  7px 4px rgba(#000, 0.3) );
	
	
	
	&.close
	{
		width:0!important;
		overflow:hidden;
		@include box-shadow( 0px 0px  0px 0px rgba(#000, 0.0) );
	}
	
ul
{		margin-top: 25px;
}
	li
	{
		display:block;
		margin-left: 0;
		margin-toP: 1px;
		
		&:first-child
		{
			margin-top: 0;
		}
	
		
&.active,
&:hover
{
	a
	{
		background:#399743;
		color: #ffffff; 
	}
}
		
		a
		{
			padding: 18px 30px;
			display: block;
			color: #ffffff;
		}
	}
}
}
}
#fullpage .emblema
{
	background-size: 30%!important;
}
#fullpage
{
	padding: 0 15px;
}





 
.mobile-menu-ic
{
	position:realtive;
	width: 26px;
	height: 36px;
background: image-url("mobile-menu-ic.png") no-repeat center center;
	background-size: 100%;

	z-index:99999;
	

}
.mobile-menu-close
{
	position:absolute;
	top:29px;
	left: -40px;
	width: 31px;
	height: 31px;
background: image-url("mobile-menu-close.png") no-repeat center center;
	background-size: 80%;

	z-index:99999;



}


.footer
{
	height: 511px!important;
}

.footer .footer-top .embed-soc
{
	height:301px!important;
	width: 100%;
	float:none;
}
.footer .footer-top
{
	height:441px!important;
	box-sizing: border-box;
}
.footer .footer-bottom
{
	line-height:1.5em;
	padding-top:9px;
	
}



.footer .footer-bottom .footer-copyright,
.footer .footer-bottom .footer-dev
{
	float: none;
	width:auto;
	text-align:center;
	
}



.footer .footer-socs
{
	float:none;
	width:auto;
	font-size:10px;
	padding-left: 49px;
	
	svg
	{
		width: 17px;
		height: 17px;
		margin-right: 5px;
	}
	
	.footer-socs-item
	{
		display:inline-block;
		width:49%;
		margin-top: 17px;
	}
}



.section-meniu-open-ic
{
	width: 32px;
	height:38px;
	
	
	background: image-url("section-menu.png") no-repeat center center;
	background-size: 15px;
	    z-index: 9999;
		cursor: pointer;
	position:absolute;
	top:4px;
	right:4px;
}

.shadow_of_metekhi
{
	.section-meniu-open-ic
{
	background-color:$green;
}

.section-menu-block
{
	background-color:rgba(35,138,47,0.95);
}
}


.bread_house
{
	.section-meniu-open-ic
{
	background-color:$red;
}

.section-menu-block
{
	background-color:rgba(113,25,27,0.95);
	
	a
	{
		color: #efa5a6;
	}
}
}

.maspindzelo
{
	.section-meniu-open-ic
{
	background-color:$coral;
}

.section-menu-block
{
	background-color:rgba(202,41,43,0.95);	
	
	a
	{
		color: #f9b3b4;
	}
}
}

.otium
{
	.section-meniu-open-ic
{
	background-color:$blue;
}

.section-menu-block
{
	background-color:rgba(29,42,53,0.95);
		
	a
	{
		color: #b8d4ea;
	}
}
}

.kvareli_lake
{
	.section-meniu-open-ic
{
	background-color:$like;
}
.section-menu-block
{
	background-color:rgba(0,92,66,0.95);
		a
	{
		color:#C1E8DD;
	}
}
}





.section-menu
{
	font-size:14px;
	
	ul
	{
		padding-top: 27px;
	}
	
	li
	{
		margin-toP: 17px;
	}
}

#hellopreloader_preload
{
	min-width:auto!important;
}


//other pages

.site-content
{
	padding-top:25px
}
.page-content-wrap .page-content
{
	padding:20px 25px 30px
}
.i18n-en .page-title
{
	font-size: 30px;
}
.page-title
{
	font-size: 32px;
	margin-bottom:24px;
}









.events-item
{
	float:none;
	width:100%;
	margin-left:0;
	margin-toP: 20px;
	
}
.events-item .events-item-text
{
	width:100%;
}


.select2-container
{
	width: 120px!important;
	font-size: 13px;
}
.filter-items
{
	margin-left: -15px;
	margin-right: -15px;
}


.basic-page-content .view-services
{
	margin: 0;
}
.services .services-item
{
	float:none;
	width:100%;
	margin-left: 0;
	margin-top: 5px;
}
.services .services-item .services-title
{
	width: 98%;
}



.contact-left,
.contact-right
{
	float:none;
	width:100%;
}

#googlemaps
{
	height:200px;
	margin-bottom:20px;
}
.services-slider-block
{
	width: 100%;
}
.service-desc-block
{
	width:100%;
	margin-top: -13px;
	left: 8px;
	padding: 17px;
}


.services-slider-block .bx-controls-direction
{

bottom: 18px;
}
.node-type-service
{
.services-slider-block .bx-prev,
.services-slider-block .bx-next
{
	background-color: #238a2f!important;
}
}


.service-soc
{
	margin-left: 7px;
}


.service-soc svg
{
	width:11px;
	height:11px;
}



.basic-page-content img
{
	height: auto!important;
}


.fixed-header .services-brand-logo
{
	opacity: 1!important;
}
.services-brand-logo
{
}
	
	
	
	
	
	
	.site-content.services-brand-page
	{
		background-position: top center!important;
	}
	
	
	
	
	.services-brand-logo
	{
		top: 24px!important;
		position:absolute;
		
		img
		{
		max-height: 107px;
		}
	}
	
	
	.page-content-wrap
	{
	margin-top: -25px;
		
	}
	
	.header-right
	{
		width:auto;
	}
	
	
	
	

}