// global base - import in every stylesheet
@import "base";



	//Services
	
	
	.services-slider
	{
		height:573px;
	}
	
	
	
	.services-intro,
	.events-intro
{
	background: #c4d1c5;
	
		.header
	{
		width: 100%!important;
	}
	.footer
	{
		height: 500px;
	}
	
	
	

}

.service-desc-block
{
	background: rgba($white,0.95);
	position:relative;
	width: 884px;
	margin: 0 auto;
	margin-top: -43px;
	left: 25px;
	padding: 27px;
	box-sizing:border-box;
}

.services-slider-block
{
	width: 891px;
	margin: 0 auto;
	position:relative;
	
	
	.bx-controls-direction
	{
		position:absolute;
		left: 27px;
		bottom:50px;
	}
	
	.bx-next
	{
		display: inline-block;
		background: image-url("arrow-white-right.png") no-repeat center center;
		background-color: $green;
		font-size: 0;
		width: 37px;
		height: 30px;
		margin-left: 6px;
		
		&:hover
		{
			opacity:0.7;
		}
	}
	
		.bx-prev
	{
		display: inline-block;
		background: image-url("arrow-white-left.png") no-repeat center center;
		background-color: $green;
		font-size: 0;
		width: 37px;
		height: 30px;
		
				
		&:hover
		{
			opacity:0.7;
		}
	}
	
}

.services-pagination
{
	position:absolute;
	top:0px;
	bottom:0;
	margin: auto;
	width: 100%;
	height: 40px;
	text-transform:uppercase;
	font-family: $font-upper;
	font-weight: bold;
	
	a
	{
		color:$black;
		font-size: 18px;
		
		&:hover
		{
			opacity:0.7;
		}
	}
	
	
	
	.service-prev
	{
		position:absolute;
		left: -130px;
		width: 130px;
		display:block;
		text-align:left;
		

.icon-arrow-left 
{
	width: 14px;
	height: 14px;
}
		
		span
		{
			display: inline-block;
    vertical-align: top;
	margin-left: 5px;
		}

	}
		.service-next
	{
			position:absolute;
		right: -130px;
		width: 130px;
		display:block;
		text-align:right;
		
		
		.icon-arrow-right
{
	width: 14px;
	height: 14px;
}
		
		span
		{
			display: inline-block;
    vertical-align: top;
	margin-right: 5px;
		}

		
		}
}



.services-left
{
	float:left;
	width: auto;
}
.services-right
{
	float:right;
	width: auto;
}

.service-details-date
{
	position:absolute;
	right: 17px;
	bottom: 57px;
	color: $white;
	z-index: 9;
}


.service-soc
{
	display:inline-block;
	height: 16px;
	color: $black!important;
	margin-left: 30px;
	
	&:first-child
	{
		margin-left:0;
	}
	
	&:hover
	{
		color: $green!important;
		
		svg
		{
			path
			{
				fill: $green!important;
			}
		}
	}

	
	svg
	{
		height:16px;
		width: 16px;
		@include transition(all 0.3s);
		vertical-align:middle;
		
			path
			{
				@include transition(all 0.3s);
			}
		
	}
}


.back-link
{
	
	a
	{
	
	background: image-url("back-isari.png") no-repeat left center;
	display: inline-block;
	padding-left: 14px;
	
	color: $black;
	&:hover
	{
		
	}
	
	
	

}
}

.services-brand-logo
{
	position:fixed;
	margin: auto;
	left:0;
	right:0;
	top: 55px;
	z-index: 999;
		@include transition(all 0.5s);
}



.fixed-header
{
	.services-brand-logo
	{
		opacity:0;
		//position:absolute;
		
	}
}



.services-intro-brand .footer .footer-top
{
	background: none;
}


.events-timeline-item
{
	float: left;
	width: 65px;
	text-align:right;
	font-size: 12px;
	position:relative;
	height: 12px;
	cursor: pointer;
	
	 @include transition(all 0.3s);
	 

	 
	 &.hovered,
	&:hover
{
	
	color: $white!important;
	.events-calendar-text
{
	opacity:1;
	z-index: 999;
	height: 80px;
		padding: 11px 32px 11px 15px;
	
	
	&:hover
	{
		opacity:0.7;
	}
	
	.events-calendar-info,
	.events-calenda-readmore
	{
		opacity:1;
}


}	

 	&:hover
{

z-index: 9999999;	
}
.events-time-line-pin
{
	background: $white!important;
}

}






&:nth-child(14),
&:nth-child(15),
&:nth-child(16),
&:nth-child(17)
{





.events-calendar-text
{

	-webkit-clip-path: polygon(94% 0, 98% 100%, 94% 80%, 0 80%, 0 0);
clip-path: polygon(94% 0, 98% 100%, 94% 80%, 0 80%, 0 0);
right:0;
left: auto;
}


&:hover
{
	.events-calendar-text
{
		padding: 11px 32px 11px 15px;
}
}

}



	
	&.empty-date
	{
		font-size: 0;
		
		.events-time-line-pin
		{
			opacity: 0;
		}
	}
	
		
	.events-time-line-pin
	{
		
		display: block;
		content:"";
		width: 10px;
		height: 10px;
		@include border-radius(10px);
		margin: auto;
		left: 0;
		right: 0;
		top:-23px;
		position:absolute;
		border: 3px solid transparent;
		 @include transition(all 0.3s);
	}
}
.events-calendar
{
padding: 27px 0;
color: rgba(255,255,255,0.3);

height: 200px;
}

.events-timeline-items{
	position: relative;

border-toP: 3px solid transparent;	
padding-top: 15px;
margin-top: 130px;
@include filter(grayscale(20%));
padding: 15px 50px 0 50px;
height: 200px;

}


.events-calendar-title{
	font-size: 24px;
	color: $white;
	font-family: $font-upper;

}


.events-calendar-text
{
	height: 0px;
	overflow:hidden;
	width: 359px;
	position:absolute;
	bottom:22px;
	color: $white;
	font-size: 14px;
	display:block;
	left: 10px;
	-webkit-clip-path: polygon(4% 0, 100% 0%, 100% 80%, 4% 80%, 0 100%);
clip-path: polygon(4% 0, 100% 0%, 100% 80%, 4% 80%, 0 100%);
border-right:5px solid transparent;
	

box-sizing: border-box;
text-align:left;
opacity:0;
padding:0;
 @include transition(all 0.5s);



&:hover
{
	color: $white;
	
}
.events-calendar-info
{
	float: left;
	width: 218px;
	line-height: 22px;
	opacity:0;
	
}

	
}

.events-calenda-readmore
{
	border-left: 1px solid rgba($white,0.2);
	height: 45px;
	padding-left: 15px;
	display: block;
	float: right;
	width: 73px;
	line-height: 22px;
	text-align:center;
		opacity:0;
	
}



.events-calendar
{

.bx-controls 
{
	position:absolute;
	right: 0;
	top: 0;
	width: 80px;
	
	a
	{
		width: 37px;
		height: 30px;
		display:inline-block;
		margin-left: 6px;
		background-repeat: no-repeat;
		background-position: center center;
		font-size:0;
		&:hover
		{
			opacity:0.7;
		}
		
		&.bx-prev
		{
		
		
		background: image-url("calendar-arrow-left.png") no-repeat center center;
		}
		
				&.bx-next
		{
		
		
		background: image-url("calendar-arrow-right.png") no-repeat center center;
		}
		&:first-child
		{
			margin-left: 0;
		}
	}
}
.bx-wrapper
{
	position:relative;
}


}



.events-calendar-map
{position: relative;
	#googlemaps
	{
	@include filter(grayscale(100%));
		height: 326px;

		}
		

		
		
}



.items-pager
{
	a
	{
		display:block;
		width: 109px;
		font-size: 0;
float: left;
margin: 0 7px;		
		

		
		
		img
		{
			width: 100%;
			margin-top: 3px;
			margin-left: 3px;
			border: 3px solid transparent;
			
			
			 @include transition(all 0.2s);
		}
		
	}
}



			.items-pager
			{
				width:100%;
			
				position: relative;
				margin-bottom:40px;
			}
			
			/* Replace the last selector for the type(s) of element(s) you have in
			   your scroller.
			   If you have images use #touchScroller div.scrollableArea img,
			   If you have div's use #touchScroller div.scrollableArea div,
			   if you have links use #touchScroller div.scrollableArea a,
			   or add several selectors if you have mixed content
			   ...and so on. */
			.items-pager div.scrollableArea a
			{
				position: relative;
				float: left;
				margin: 0;
				padding: 0 5px;
				/* If you don't want the images in the scroller to be selectable, try the following
				   block of code. It's just a nice feature that prevent the images from
				   accidentally becoming selected/inverted when the user interacts with the scroller. */
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-o-user-select: none;
				user-select: none;
				
				&:hover img
				{
					opacity:0.8;
				}
			}


//Kvareli Like


.kvareli-like
{
	
	

.services-brand-logo
{
	top: 56px;

		width: 186px;
	
	img
	{
		height: 198px;
			height: 198px;
		width: 186px;
	}
}



.bx-controls-direction a,
.basic-page-content ul li:before,
.events-calendar
{
	background-color: #005d42;
}
.items-pager a.active img
{
	border-color: #005d42;
}



.basic-page-content
{
	h1,h2,h3,h4,h5,h6, a
	{
		color:  #005d42;
	}
}


.events-timeline-items
{
	border-color: #4e917b;
}

.events-timeline-item .events-time-line-pin
{
	background-color: #77ae9a;
	border-color: #005d42;
}

.events-calendar-text
{
	background: #177f61;
}

.events-timeline-item
{
color: #77ae9a;

}


.events-calendar .bx-controls a.bx-next,
.events-calendar .bx-controls a.bx-prev
{
	background-color: #177f61;
}

.footer .footer-top
{
	background: none;
	background-color: #005d42;
	
}




.services-pagination a,
.services-pagination a:hover
{
	color: #4f917b;
}





	.footer .footer-top .embed-soc .pws_tabs_controll li a
	{
		background-color: #b3cfc7;
	}

}









//breadhouse


.breadhouse
{
	
	
	.events-calendar .bx-controls a.bx-prev
	{
		

				background: image-url("arrow-left-breadhouse.png") no-repeat center center;
		background-color: #e2aa71!important;
	
	}
	
		.events-calendar .bx-controls a.bx-next
	{
		

				background: image-url("arrow-right-breadhouse.png") no-repeat center center;
		background-color: #e2aa71!important;
	
	}
	
	
		.services-slider-block .bx-next
	{
				background: image-url("arrow-right-breadhouse.png") no-repeat center center;
		background-color: #fff;
	}
	
		.services-slider-block .bx-prev
	{
				background: image-url("arrow-left-breadhouse.png") no-repeat center center;
		background-color: #fff;
	}
	
	
.services-brand-logo
{
	top: 60px;

		width: 233px;
	
	img
	{

			height: 113px;
		width: 233px;
	}
}




.bx-controls-direction a,
.basic-page-content ul li:before,
.events-calendar
{
	background-color: #7b1618;
}
.items-pager a.active img
{
	border-color: #822224;
}



.basic-page-content
{
	h1,h2,h3,h4,h5,h6, a
	{
		color:  #7b1618;
	}
}


.events-timeline-items
{
	border-color: #902c2e;
}

.events-timeline-item.hovered .events-time-line-pin, .events-timeline-item:hover .events-time-line-pin
{
	
	    background-color: #e2aa71!important;
    border-color: #a5723e;

}

.events-timeline-item.hovered
{
	color: #e2aa71!important;
}


.events-timeline-item .events-time-line-pin
{
	background-color: #640b0d;
	border-color: #a73e40;
}

.events-calendar-text
{
	background: #640b0d;
}

.events-timeline-item
{
color: #ffffff;

}


.events-calendar .bx-controls a.bx-next,
.events-calendar .bx-controls a.bx-prev
{
	background-color: #177f61;
}

.footer .footer-top
{
	background: none;
	background-color: #7b1618;
}




.services-pagination a,
.services-pagination a:hover
{
	color: #7b1618;
}

	.footer .footer-top .embed-soc .pws_tabs_controll li a
	{
		background-color: #d8baba;
	}

}




//Maspindzelo


.maspindzelo
{
	
	.footer .footer-top .embed-soc .pws_tabs_controll li a
	{
		background-color: #cebebe;
	}
	
	.events-calendar-title
	{
		color: #a58e78;
	}
	
	.events-timeline-item.hovered
	{
		.events-time-line-pin
		{
		background:#ca292b!important;
		}
		
		color: #ca292b!important;
	}
	.services-slider-block .bx-next
	{
				background: image-url("arrow-right-maspindzelo.png") no-repeat center center;
		background-color: #fff;
	}
	
		.services-slider-block .bx-prev
	{
				background: image-url("arrow-left-maspindzelo.png") no-repeat center center;
		background-color: #fff;
	}
	
.services-brand-logo
{
	top: 84px;

		width: 265px;
	
	img
	{
		height: 77px;

		width: 265px;
	}
}




.bx-controls-direction a,
.basic-page-content ul li:before,
.events-calendar
{
	background-color: #5c2625;
}
.items-pager a.active img
{
	border-color: #ca292b;
	
}



.basic-page-content
{
	h1,h2,h3,h4,h5,h6, a
	{
		color:  #ca292b;
	}
}


.events-timeline-items
{
	border-color: #794645;
}

.events-timeline-item .events-time-line-pin
{
	background-color: #794645;
	border-color: #5c2625;
}

.events-calendar-text
{
	background: #ca292b;
}

.events-timeline-item
{
color: #846d56;

}


.events-calendar .bx-controls a.bx-next,
.events-calendar .bx-controls a.bx-prev
{
	background-color: #ca292b;
}

.footer .footer-top
{
	background: none;
	background-color: #5c2625;
	
}




.services-pagination a,
.services-pagination a:hover
{
	color: #ca292b;
}



}









//Dzveli Tbilisi


.dzveli-tbilisi
{
	
	.footer .footer-top .embed-soc .pws_tabs_controll li a
	{
		background-color: #bcbcbc;
	}
	
	
	
	.events-timeline-item.hovered
	{
		.events-time-line-pin
		{
		background:#32a43f!important;
		}
		
		color: #32a43f!important;
	}
	.services-slider-block .bx-next
	{
				background: image-url("arrow-right-dzveli-tbilisi.png") no-repeat center center;
		background-color: #fff;
	}
	
		.services-slider-block .bx-prev
	{
				background: image-url("arrow-left-dzveli-tbilisi.png") no-repeat center center;
		background-color: #fff;
	}
	
.services-brand-logo
{
	top: 48px;

		width: 128px;
	
	img
	{
		height: 136px;

		width: 128px;
	}
}




.bx-controls-direction a,
.basic-page-content ul li:before,
.events-calendar
{
	background-color: #1e1e1e;
}
.items-pager a.active img
{
	border-color: #0d0d0d;
	
}



.basic-page-content
{
	h1,h2,h3,h4,h5,h6, a
	{
		color:  #1e1e1e;
	}
}


.events-timeline-items
{
	border-color: #363636;
}

.events-timeline-item .events-time-line-pin
{
	background-color: #595959;
	border-color: #363636;
}

.events-calendar-text
{
	background: #0d0d0d;
}

.events-timeline-item
{
color: #fff;

}


.events-calendar .bx-controls a.bx-next,
.events-calendar .bx-controls a.bx-prev
{
	background-color: #0d0d0d;
}

.footer .footer-top
{
	background: none;
	background-color: #1e1e1e;
	
}




.services-pagination a,
.services-pagination a:hover
{
	color: #1e1e1e;
}



}









//Maspindzelo


.otium
{
	
	.footer .footer-top .embed-soc .pws_tabs_controll li a
	{
		background-color: #8393a1;
	}
	
	.events-calendar-title
	{
		color: #ffff;
	}
	
	.events-timeline-item.hovered
	{
	
		
		;
	}
	.services-slider-block .bx-next
	{
				background: image-url("arrow-white-right.png") no-repeat center center;
		background-color: #1B2A34;
	}
	
		.services-slider-block .bx-prev
	{
				background: image-url("arrow-white-left.png") no-repeat center center;
		background-color: #1B2A34;
	}
	
.services-brand-logo
{
	top: 65px;

		width: 100px;
	
	img
	{
		height: 100px;

		width: 100px;
	}
}




.bx-controls-direction a,
.basic-page-content ul li:before,
.events-calendar
{
	background-color: #1B2A34;
}
.items-pager a.active img
{
	border-color: #1B2A34;
	
}



.basic-page-content
{
	h1,h2,h3,h4,h5,h6, a
	{
		color:  #1B2A34;
	}
}


.events-timeline-items
{
	border-color: #8393a1;
}

.events-timeline-item .events-time-line-pin
{
	background-color: #8393a1;
	border-color:  #1B2A34;
}

.events-calendar-text
{
	background: #495B67;
}

.events-timeline-item
{
color: #ffffff;

}


.events-calendar .bx-controls a.bx-next,
.events-calendar .bx-controls a.bx-prev
{
	background-color:   #8393a1;
}

.footer .footer-top
{
	background: none;
	background-color:  #1B2A34;;
	
}




.services-pagination a,
.services-pagination a:hover
{
	color: #8393a1;
}



}



