html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*
	bootstrap grid
*/
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

html {
  min-height: 100%;
  position: relative; }

body {
  color: #3d444a;
  font-size: 14px;
  font-family: "DejaVuSans", Arial, Sylfaen, sans-serif;
  background-color: #ffffff; }

.all-wrapper {
  padding: 0px 65px 0px !important;
  box-sizing: border-box; }

@font-face {
  font-family: "DejaVuSans";
  src: url('fonts/DejaVuSans/DejaVuSans.eot?1454512042');
  src: url('fonts/DejaVuSans/DejaVuSans.eot?&1454512042#iefix') format('embedded-opentype'), url('fonts/DejaVuSans/DejaVuSans.woff?1454512042') format('woff'), url('fonts/DejaVuSans/DejaVuSans.ttf?1454512042') format('truetype'), url('fonts/DejaVuSans/DejaVuSans.svg?1454512042') format('svg'); }
@font-face {
  font-family: "bpg_nino_mtavruli_book_0";
  src: url('fonts/bpg_nino_mtavruli_book_0/bpg_nino_mtavruli_book_0.eot?1454512041');
  src: url('fonts/bpg_nino_mtavruli_book_0/bpg_nino_mtavruli_book_0.eot?&1454512041#iefix') format('embedded-opentype'), url('fonts/bpg_nino_mtavruli_book_0/bpg_nino_mtavruli_book_0.woff?1454512041') format('woff'), url('fonts/bpg_nino_mtavruli_book_0/bpg_nino_mtavruli_book_0.ttf?1454512041') format('truetype'), url('fonts/bpg_nino_mtavruli_book_0/bpg_nino_mtavruli_book_0.svg?1454512041') format('svg'); }
@font-face {
  font-family: "bpg_dejavu_sans-webfont";
  src: url('fonts/bpg_dejavu_sans-webfont/bpg_dejavu_sans-webfont.eot?1454512040');
  src: url('fonts/bpg_dejavu_sans-webfont/bpg_dejavu_sans-webfont.eot?&1454512040#iefix') format('embedded-opentype'), url('fonts/bpg_dejavu_sans-webfont/bpg_dejavu_sans-webfont.woff?1454512040') format('woff'), url('fonts/bpg_dejavu_sans-webfont/bpg_dejavu_sans-webfont.ttf?1454512040') format('truetype'), url('fonts/bpg_dejavu_sans-webfont/bpg_dejavu_sans-webfont.svg?1454512040') format('svg'); }
* {
  margin: 0;
  padding: 0; }

*:focus {
  outline: none; }

a {
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #555655;
  cursor: pointer; }
  a:hover {
    text-decoration: none;
    color: #888988; }
  a:focus {
    outline: none; }
  a:focus {
    color: #888988; }
  a:active {
    color: #888988; }

.right {
  float: right; }

.abs-block {
  position: fixed;
  width: 52px;
  right: 38px;
  bottom: 0px;
  top: 116px;
  margin: auto;
  z-index: 99; }

#block-down-arrow {
  right: 38px;
  height: 87px;
  background: url('../images/down-strelka.png?1454582622') no-repeat center center;
  background-color: #238a2f;
  z-index: 99;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 2px; }
  #block-down-arrow:hover {
    opacity: 0.8; }

#block-up-arrow {
  height: 87px;
  width: 52px;
  margin-top: 2px;
  background: url('../images/up-strelka.png?1455088627') no-repeat center center;
  background-color: #238a2f;
  z-index: 99;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  #block-up-arrow:hover {
    opacity: 0.8; }

#section-menu-ic {
  height: 63px;
  width: 52px;
  margin-top: 2px;
  background: url('../images/section-menu.png?1454583123') no-repeat center center;
  background-color: #238a2f;
  z-index: 99;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  #section-menu-ic:hover {
    opacity: 0.8; }

.overflow-layer {
  position: absolute;
  width: 100%;
  height: 100%; }

#fullpage {
  box-sizing: border-box; }
  #fullpage .section {
    box-sizing: border-box; }
  #fullpage .container-img {
    height: 100%;
    background-size: cover !important;
    background-position: center center !important;
    position: relative; }
  #fullpage .fp-tableCell {
    display: block; }
  #fullpage .fp-section.fp-table, #fullpage .fp-slide.fp-table {
    display: block;
    table-layout: none; }
  #fullpage .emblema {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: center center !important; }

.fp-viewing-green-section #loop-menu a {
  color: #75a182; }
.fp-viewing-green-section #block-down-arrow {
  background: url('../images/down-strelka.png?1454582622') no-repeat center center;
  background-color: #238a2f; }
.fp-viewing-green-section #block-up-arrow {
  background: url('../images/up-strelka.png?1455088627') no-repeat center center;
  background-color: #238a2f; }
.fp-viewing-green-section #section-menu-ic {
  background: url('../images/section-menu.png?1454583123') no-repeat center center;
  background-color: #238a2f; }
.fp-viewing-green-section .section-menu-block {
  background-color: rgba(35, 138, 47, 0.95); }
  .fp-viewing-green-section .section-menu-block a {
    color: #D0FFD6; }

.fp-viewing-red-section #loop-menu a {
  color: #e6c1a4; }
.fp-viewing-red-section #block-down-arrow {
  background: url('../images/down-strelka.png?1454582622') no-repeat center center;
  background-color: #71191b; }
.fp-viewing-red-section #block-up-arrow {
  background: url('../images/up-strelka.png?1455088627') no-repeat center center;
  background-color: #71191b; }
.fp-viewing-red-section #section-menu-ic {
  background: url('../images/section-menu.png?1454583123') no-repeat center center;
  background-color: #71191b; }
.fp-viewing-red-section .section-menu-block {
  background-color: rgba(113, 25, 27, 0.95); }
  .fp-viewing-red-section .section-menu-block a {
    color: #EFA5A6; }

.fp-viewing-coral-section #loop-menu a {
  color: #b77e7e; }
.fp-viewing-coral-section #block-down-arrow {
  background: url('../images/down-strelka.png?1454582622') no-repeat center center;
  background-color: #ca292b; }
.fp-viewing-coral-section #block-up-arrow {
  background: url('../images/up-strelka.png?1455088627') no-repeat center center;
  background-color: #ca292b; }
.fp-viewing-coral-section #section-menu-ic {
  background: url('../images/section-menu.png?1454583123') no-repeat center center;
  background-color: #ca292b; }
.fp-viewing-coral-section .section-menu-block {
  background-color: rgba(202, 41, 43, 0.95); }
  .fp-viewing-coral-section .section-menu-block a {
    color: #F9B3B4; }

.fp-viewing-blue-section #loop-menu a {
  color: #8393a1; }
.fp-viewing-blue-section #block-down-arrow {
  background: url('../images/down-strelka.png?1454582622') no-repeat center center;
  background-color: #1d2a35; }
.fp-viewing-blue-section #block-up-arrow {
  background: url('../images/up-strelka.png?1455088627') no-repeat center center;
  background-color: #1d2a35; }
.fp-viewing-blue-section #section-menu-ic {
  background: url('../images/section-menu.png?1454583123') no-repeat center center;
  background-color: #1d2a35; }
.fp-viewing-blue-section .section-menu-block {
  background-color: rgba(29, 42, 53, 0.95); }
  .fp-viewing-blue-section .section-menu-block a {
    color: #B8D4EA; }

.fp-viewing-like-section #loop-menu a {
  color: #77ae9a; }
.fp-viewing-like-section #block-down-arrow {
  background: url('../images/down-strelka.png?1454582622') no-repeat center center;
  background-color: #005c42; }
.fp-viewing-like-section #block-up-arrow {
  background: url('../images/up-strelka.png?1455088627') no-repeat center center;
  background-color: #005c42; }
.fp-viewing-like-section #section-menu-ic {
  background: url('../images/section-menu.png?1454583123') no-repeat center center;
  background-color: #005c42; }
.fp-viewing-like-section .section-menu-block {
  background-color: rgba(0, 92, 66, 0.95); }
  .fp-viewing-like-section .section-menu-block a {
    color: #6AE8C5; }

.section-menu-block {
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0; }
  .section-menu-block.open {
    width: 100%;
    opacity: 1; }

.section-menu {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 24px;
  font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif; }
  .section-menu li {
    margin-top: 30px;
    display: block; }
    .section-menu li:first-child {
      margin-top: 0; }
  .section-menu a {
    color: #79cd84;
    display: inline-block; }
    .section-menu a:hover {
      color: #ffffff; }

.header {
  position: fixed;
  height: 116px;
  background: #ffffff;
  z-index: 999;
  width: 100%;
  top: 0; }
  .header .logo {
    margin-top: 28px;
    float: left;
    max-width: 270px; }
    .header .logo a:hover {
      opacity: 0.7; }
  .header .main-menu-block {
    float: right;
    max-width: 900px;
    margin-top: 50px; }
    .header .main-menu-block .main-menu {
      font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif;
      font-size: 18px;
      font-weight: bold; }
      .header .main-menu-block .main-menu li {
        display: inline-block;
        margin-left: 37px; }
        .header .main-menu-block .main-menu li.active a, .header .main-menu-block .main-menu li:hover a {
          color: #32a43f; }
        .header .main-menu-block .main-menu li a:hover {
          color: #238a2f; }
        .header .main-menu-block .main-menu li:first-child {
          margin-left: 0; }

.footer .footer-top {
  height: 70%;
  padding: 4%;
  background: url('../images/contact-section-bg.png?1454579663') no-repeat right bottom;
  background-color: #238a2f; }
  .footer .footer-top .footer-menu {
    font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif;
    float: left;
    margin-right: 20px;
    width: 20%; }
    .footer .footer-top .footer-menu li {
      margin-top: 25px; }
      .footer .footer-top .footer-menu li:first-child {
        margin-top: 0; }
    .footer .footer-top .footer-menu li a {
      color: #ffffff; }
      .footer .footer-top .footer-menu li a:hover {
        opacity: 0.7; }
  .footer .footer-top .embed-soc {
    float: left;
    height: 100%;
    overflow: hidden;
    width: 518px; }
    .footer .footer-top .embed-soc .pws_tabs_list {
      padding: 0; }
    .footer .footer-top .embed-soc .pws_tab_single {
      top: 0;
      padding: 0;
      margin: 0; }
    .footer .footer-top .embed-soc .embedd-soc-title {
      display: block; }
    .footer .footer-top .embed-soc .pws_tabs_controll {
      width: 48px !important; }
      .footer .footer-top .embed-soc .pws_tabs_controll li a {
        background: #c2e4c6; }
        .footer .footer-top .embed-soc .pws_tabs_controll li a.pws_tab_active {
          background: #ffffff; }
          .footer .footer-top .embed-soc .pws_tabs_controll li a.pws_tab_active:hover {
            opacity: 1; }
      .footer .footer-top .embed-soc .pws_tabs_controll a {
        display: block;
        width: 48px;
        height: 43px;
        padding: 0;
        text-align: center;
        position: relative; }
        .footer .footer-top .embed-soc .pws_tabs_controll a:hover {
          opacity: 0.7; }
        .footer .footer-top .embed-soc .pws_tabs_controll a img {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 0;
          right: 0; }
.footer .footer-socs {
  float: right;
  width: 20%; }
  .footer .footer-socs svg {
    fill: #ffffff;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 18px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .footer .footer-socs svg path {
      fill: #ffffff !important;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
  .footer .footer-socs .footer-socs-item {
    color: #ffffff;
    display: block;
    margin-top: 22px; }
    .footer .footer-socs .footer-socs-item.facebook-item:hover path {
      fill: #4862a3 !important; }
    .footer .footer-socs .footer-socs-item.twitter-item:hover path {
      fill: #41abe1 !important; }
    .footer .footer-socs .footer-socs-item.instagram-item:hover path {
      fill: #426f98 !important; }
    .footer .footer-socs .footer-socs-item.tripadvisor-item:hover path {
      fill: #8fc661 !important; }
    .footer .footer-socs .footer-socs-item.foursquare-item:hover path {
      fill: #f94877 !important; }
    .footer .footer-socs .footer-socs-item.youtube-item:hover path {
      fill: #d82624 !important; }
    .footer .footer-socs .footer-socs-item:first-child {
      margin-top: 0; }
.footer .footer-bottom {
  height: 64px;
  line-height: 64px; }
  .footer .footer-bottom .footer-copyright {
    float: left;
    width: 50%;
    height: 100%; }
  .footer .footer-bottom .footer-dev {
    float: right;
    text-align: right;
    width: 50%;
    height: 100%; }
  .footer .footer-bottom .copyright-text {
    display: inline-block;
    vertical-align: middle; }

.fp-viewing-footer-section #loop-menu,
.fp-viewing-footer-section #section-menu-ic,
.fp-viewing-footer-section #block-down-arrow {
  display: none; }
.fp-viewing-footer-section #block-up-arrow {
  background: url('../images/up-strelka.png?1455088627') no-repeat center center;
  background-color: #47c756; }

.fp-viewing-green-section #block-up-arrow {
  display: none; }

.noactive-menu #loop-menu {
  opacity: 0.1; }

#loop-menu {
  position: fixed;
  bottom: 0px;
  top: 116px;
  margin: auto;
  left: 95px;
  z-index: 99;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  #loop-menu li a {
    line-height: 20px;
    margin-top: 10px;
    display: inline-block; }
    #loop-menu li a:hover {
      color: #ffffff; }
  #loop-menu li.active a {
    color: #ffffff;
    position: relative; }
    #loop-menu li.active a:before {
      display: block;
      content: "";
      position: absolute;
      left: -30px;
      width: 17px;
      height: 1px;
      background: #ffffff;
      margin: auto;
      top: 0;
      bottom: 0; }
