#slider1_container {
  margin: auto;
  left: 0;
  right: 0;
  background: #000000; }

.slide-item {
  position: relative;
  background-position: center center !important;
  background-size: cover !important;
  opacity: 0.45; }
  .slide-item.current {
    opacity: 1; }
  .slide-item .slide-info {
    position: absolute;
    top: 206px;
    left: 215px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 20px 45px;
    width: 403px; }
    .slide-item .slide-info .slide-info-overflow {
      max-height: 268px;
      overflow: hidden; }
    .slide-item .slide-info .slider-title {
      color: #71191b;
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 10px;
      line-height: 38px; }
    .slide-item .slide-info p {
      line-height: 27px; }

.front-slider-arrows {
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0; }

.front-slider-arrow-left,
.front-slider-arrow-right {
  width: 31px !important;
  height: 50px !important;
  background: #71191b;
  display: block;
  position: absolute;
  top: 285px !important;
  bottom: 0;
  cursor: pointer;
  opacity: 0.8;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .front-slider-arrow-left:hover,
  .front-slider-arrow-right:hover {
    opacity: 1; }

.front-slider-arrow-left {
  left: 0;
  background: url('../images/front-slider-arrow-left.png?1454490516') no-repeat center center; }

.front-slider-arrow-right {
  right: 0;
  background: url('../images/front-slider-arrow-right.png?1454490516') no-repeat center center; }

.slider-readmore {
  position: absolute;
  bottom: -18px;
  right: -10px; }

.slider-readmore,
.moer-offers {
  display: inline-block;
  background: #71191b;
  color: #ffffff;
  line-height: 39px;
  padding: 0 10px;
  overflow: hidden;
  text-shadow: 0px 0px #d33036, 0.5px 1px #d33036, 1px 2px #d33036, 1.5px 3px #d33036, 2px 4px #d33036, 2.5px 5px #d33036, 3px 6px #d33036, 3.5px 7px #d33036, 4px 8px #d33036, 4.5px 9px #d33036, 5px 10px #d33036, 5.5px 11px #d33036, 6px 12px #d33036, 6.5px 13px #d33036, 7px 14px #d33036, 7.5px 15px #d33036, 8px 16px #d33036, 8.5px 17px #d33036, 9px 18px #d33036, 9.5px 19px #d33036, 10px 20px #d33036, 10.5px 21px #d33036, 11px 22px #d33036, 11.5px 23px #d33036, 12px 24px #d33036, 12.5px 25px #d33036, 13px 26px #d33036, 13.5px 27px #d33036, 14px 28px #d33036, 14.5px 29px #d33036, 15px 30px #d33036, 15.5px 31px #d33036, 16px 32px #d33036, 16.5px 33px #d33036, 17px 34px #d33036, 17.5px 35px #d33036, 18px 36px #d33036, 18.5px 37px #d33036, 19px 38px #d33036, 19.5px 39px #d33036, 20px 40px #d33036, 20.5px 41px #d33036, 21px 42px #d33036, 21.5px 43px #d33036, 22px 44px #d33036, 22.5px 45px #d33036, 23px 46px #d33036, 23.5px 47px #d33036, 24px 48px #d33036, 24.5px 49px #d33036, 25px 50px #d33036, 25.5px 51px #d33036, 26px 52px #d33036, 26.5px 53px #d33036, 27px 54px #d33036, 27.5px 55px #d33036, 28px 56px #d33036, 28.5px 57px #d33036, 29px 58px #d33036, 29.5px 59px #d33036, 30px 60px #d33036, 30.5px 61px #d33036, 31px 62px #d33036, 31.5px 63px #d33036, 32px 64px #d33036, 32.5px 65px #d33036, 33px 66px #d33036, 33.5px 67px #d33036, 34px 68px #d33036, 34.5px 69px #d33036, 35px 70px #d33036, 35.5px 71px #d33036, 36px 72px #d33036, 36.5px 73px #d33036, 37px 74px #d33036, 37.5px 75px #d33036, 38px 76px #d33036, 38.5px 77px #d33036, 39px 78px #d33036, 39.5px 79px #d33036, 40px 80px #d33036, 40.5px 81px #d33036, 41px 82px #d33036, 41.5px 83px #d33036, 42px 84px #d33036, 42.5px 85px #d33036, 43px 86px #d33036, 43.5px 87px #d33036, 44px 88px #d33036, 44.5px 89px #d33036, 45px 90px #d33036, 45.5px 91px #d33036, 46px 92px #d33036, 46.5px 93px #d33036, 47px 94px #d33036, 47.5px 95px #d33036, 48px 96px #d33036, 48.5px 97px #d33036, 49px 98px #d33036, 49.5px 99px #d33036, 50px 100px #d33036, 50.5px 101px #d33036, 51px 102px #d33036, 51.5px 103px #d33036, 52px 104px #d33036, 52.5px 105px #d33036, 53px 106px #d33036, 53.5px 107px #d33036, 54px 108px #d33036, 54.5px 109px #d33036, 55px 110px #d33036, 55.5px 111px #d33036, 56px 112px #d33036, 56.5px 113px #d33036, 57px 114px #d33036, 57.5px 115px #d33036, 58px 116px #d33036, 58.5px 117px #d33036, 59px 118px #d33036, 59.5px 119px #d33036, 60px 120px #d33036, 60.5px 121px #d33036, 61px 122px #d33036, 61.5px 123px #d33036, 62px 124px #d33036, 62.5px 125px #d33036, 63px 126px #d33036, 63.5px 127px #d33036, 64px 128px #d33036, 64.5px 129px #d33036, 65px 130px #d33036, 65.5px 131px #d33036, 66px 132px #d33036, 66.5px 133px #d33036, 67px 134px #d33036, 67.5px 135px #d33036, 68px 136px #d33036, 68.5px 137px #d33036, 69px 138px #d33036, 69.5px 139px #d33036, 70px 140px #d33036, 70.5px 141px #d33036, 71px 142px #d33036, 71.5px 143px #d33036, 72px 144px #d33036, 72.5px 145px #d33036, 73px 146px #d33036, 73.5px 147px #d33036, 74px 148px #d33036, 74.5px 149px #d33036, 75px 150px #d33036, 75.5px 151px #d33036, 76px 152px #d33036, 76.5px 153px #d33036, 77px 154px #d33036, 77.5px 155px #d33036, 78px 156px #d33036, 78.5px 157px #d33036, 79px 158px #d33036, 79.5px 159px #d33036, 80px 160px #d33036, 80.5px 161px #d33036, 81px 162px #d33036, 81.5px 163px #d33036, 82px 164px #d33036, 82.5px 165px #d33036, 83px 166px #d33036, 83.5px 167px #d33036, 84px 168px #d33036, 84.5px 169px #d33036, 85px 170px #d33036, 85.5px 171px #d33036, 86px 172px #d33036, 86.5px 173px #d33036, 87px 174px #d33036, 87.5px 175px #d33036, 88px 176px #d33036, 88.5px 177px #d33036, 89px 178px #d33036, 89.5px 179px #d33036, 90px 180px #d33036, 90.5px 181px #d33036, 91px 182px #d33036, 91.5px 183px #d33036, 92px 184px #d33036, 92.5px 185px #d33036, 93px 186px #d33036, 93.5px 187px #d33036, 94px 188px #d33036, 94.5px 189px #d33036, 95px 190px #d33036, 95.5px 191px #d33036, 96px 192px #d33036, 96.5px 193px #d33036, 97px 194px #d33036, 97.5px 195px #d33036, 98px 196px #d33036, 98.5px 197px #d33036, 99px 198px #d33036, 99.5px 199px #d33036, 100px 200px #d33036;
  font-weight: bold; }
  .slider-readmore:hover,
  .moer-offers:hover {
    color: #ffffff;
    opacity: 0.7; }
  .slider-readmore:after,
  .moer-offers:after {
    display: inline-block;
    content: "";
    width: 12px;
    height: 13px;
    background: url('../images/slider-readmore-ic.png?1454490522') no-repeat center center;
    margin-left: 60px;
    box-shadow: 0px 0px #d33036, 0.5px 1px #d33036, 1px 2px #d33036, 1.5px 3px #d33036, 2px 4px #d33036, 2.5px 5px #d33036, 3px 6px #d33036, 3.5px 7px #d33036, 4px 8px #d33036, 4.5px 9px #d33036, 5px 10px #d33036, 5.5px 11px #d33036, 6px 12px #d33036, 6.5px 13px #d33036, 7px 14px #d33036, 7.5px 15px #d33036, 8px 16px #d33036, 8.5px 17px #d33036, 9px 18px #d33036, 9.5px 19px #d33036, 10px 20px #d33036, 10.5px 21px #d33036, 11px 22px #d33036, 11.5px 23px #d33036, 12px 24px #d33036, 12.5px 25px #d33036, 13px 26px #d33036, 13.5px 27px #d33036, 14px 28px #d33036, 14.5px 29px #d33036, 15px 30px #d33036, 15.5px 31px #d33036, 16px 32px #d33036, 16.5px 33px #d33036, 17px 34px #d33036, 17.5px 35px #d33036, 18px 36px #d33036, 18.5px 37px #d33036, 19px 38px #d33036, 19.5px 39px #d33036, 20px 40px #d33036, 20.5px 41px #d33036, 21px 42px #d33036, 21.5px 43px #d33036, 22px 44px #d33036, 22.5px 45px #d33036, 23px 46px #d33036, 23.5px 47px #d33036, 24px 48px #d33036, 24.5px 49px #d33036, 25px 50px #d33036, 25.5px 51px #d33036, 26px 52px #d33036, 26.5px 53px #d33036, 27px 54px #d33036, 27.5px 55px #d33036, 28px 56px #d33036, 28.5px 57px #d33036, 29px 58px #d33036, 29.5px 59px #d33036, 30px 60px #d33036, 30.5px 61px #d33036, 31px 62px #d33036, 31.5px 63px #d33036, 32px 64px #d33036, 32.5px 65px #d33036, 33px 66px #d33036, 33.5px 67px #d33036, 34px 68px #d33036, 34.5px 69px #d33036, 35px 70px #d33036, 35.5px 71px #d33036, 36px 72px #d33036, 36.5px 73px #d33036, 37px 74px #d33036, 37.5px 75px #d33036, 38px 76px #d33036, 38.5px 77px #d33036, 39px 78px #d33036, 39.5px 79px #d33036, 40px 80px #d33036, 40.5px 81px #d33036, 41px 82px #d33036, 41.5px 83px #d33036, 42px 84px #d33036, 42.5px 85px #d33036, 43px 86px #d33036, 43.5px 87px #d33036, 44px 88px #d33036, 44.5px 89px #d33036, 45px 90px #d33036, 45.5px 91px #d33036, 46px 92px #d33036, 46.5px 93px #d33036, 47px 94px #d33036, 47.5px 95px #d33036, 48px 96px #d33036, 48.5px 97px #d33036, 49px 98px #d33036, 49.5px 99px #d33036, 50px 100px #d33036, 50.5px 101px #d33036, 51px 102px #d33036, 51.5px 103px #d33036, 52px 104px #d33036, 52.5px 105px #d33036, 53px 106px #d33036, 53.5px 107px #d33036, 54px 108px #d33036, 54.5px 109px #d33036, 55px 110px #d33036, 55.5px 111px #d33036, 56px 112px #d33036, 56.5px 113px #d33036, 57px 114px #d33036, 57.5px 115px #d33036, 58px 116px #d33036, 58.5px 117px #d33036, 59px 118px #d33036, 59.5px 119px #d33036, 60px 120px #d33036, 60.5px 121px #d33036, 61px 122px #d33036, 61.5px 123px #d33036, 62px 124px #d33036, 62.5px 125px #d33036, 63px 126px #d33036, 63.5px 127px #d33036, 64px 128px #d33036, 64.5px 129px #d33036, 65px 130px #d33036, 65.5px 131px #d33036, 66px 132px #d33036, 66.5px 133px #d33036, 67px 134px #d33036, 67.5px 135px #d33036, 68px 136px #d33036, 68.5px 137px #d33036, 69px 138px #d33036, 69.5px 139px #d33036, 70px 140px #d33036, 70.5px 141px #d33036, 71px 142px #d33036, 71.5px 143px #d33036, 72px 144px #d33036, 72.5px 145px #d33036, 73px 146px #d33036, 73.5px 147px #d33036, 74px 148px #d33036, 74.5px 149px #d33036, 75px 150px #d33036, 75.5px 151px #d33036, 76px 152px #d33036, 76.5px 153px #d33036, 77px 154px #d33036, 77.5px 155px #d33036, 78px 156px #d33036, 78.5px 157px #d33036, 79px 158px #d33036, 79.5px 159px #d33036, 80px 160px #d33036, 80.5px 161px #d33036, 81px 162px #d33036, 81.5px 163px #d33036, 82px 164px #d33036, 82.5px 165px #d33036, 83px 166px #d33036, 83.5px 167px #d33036, 84px 168px #d33036, 84.5px 169px #d33036, 85px 170px #d33036, 85.5px 171px #d33036, 86px 172px #d33036, 86.5px 173px #d33036, 87px 174px #d33036, 87.5px 175px #d33036, 88px 176px #d33036, 88.5px 177px #d33036, 89px 178px #d33036, 89.5px 179px #d33036, 90px 180px #d33036, 90.5px 181px #d33036, 91px 182px #d33036, 91.5px 183px #d33036, 92px 184px #d33036, 92.5px 185px #d33036, 93px 186px #d33036, 93.5px 187px #d33036, 94px 188px #d33036, 94.5px 189px #d33036, 95px 190px #d33036, 95.5px 191px #d33036, 96px 192px #d33036, 96.5px 193px #d33036, 97px 194px #d33036, 97.5px 195px #d33036, 98px 196px #d33036, 98.5px 197px #d33036, 99px 198px #d33036, 99.5px 199px #d33036, 100px 200px #d33036; }

.current-offers {
  background: url('../images/current-block-bg.png?1454490516') repeat-x top center;
  min-height: 300px; }
  .current-offers .container {
    position: relative; }
    .current-offers .container:before {
      display: block;
      content: "";
      width: 155px;
      height: 156px;
      background: url('../images/best-price-ic.png?1454490516') no-repeat center center;
      position: absolute;
      top: -68px;
      right: -15px;
      z-index: 99; }
  .current-offers .section-title {
    padding-top: 5px; }
    .current-offers .section-title:before {
      display: inline-block;
      content: "";
      background: url('../images/akcies-ic.png?1454490515') no-repeat center center;
      width: 28px;
      height: 28px;
      background-size: cover;
      margin-right: 10px;
      vertical-align: top;
      margin-top: -5px; }
  .current-offers .current-offers-item a:hover {
    opacity: 0.7; }
  .current-offers .current-offers-item .current-offer-action {
    display: inline-block;
    background: #dadada;
    line-height: 27px;
    padding: 2px 9px 0;
    font-weight: bold;
    font-size: 13px; }
  .current-offers .current-offers-item .current-offer-title {
    color: #71191b;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 9px;
    max-height: 48px;
    overflow: hidden; }
    .current-offers .current-offers-item .current-offer-title a {
      color: #71191b; }
  .current-offers .current-offers-item .current-offers-img {
    position: relative;
    width: 358px;
    height: 216px;
    margin-bottom: 6px;
    height: 217px;
    overflow: hidden; }
    .current-offers .current-offers-item .current-offers-img img {
      height: 216px;
      min-width: 358px; }
    .current-offers .current-offers-item .current-offers-img a {
      color: #000000;
      display: block;
      font-size: 0; }
  .current-offers .current-offers-item .discount-price {
    position: absolute;
    bottom: 27px;
    right: -5px;
    background: #ffffff;
    line-height: 29px;
    font-size: 20px;
    font-family: "bpg_dejavu_sans-webfont", Arial, Sylfaen, sans-serif;
    padding: 3px  3px 3px 7px; }
    .current-offers .current-offers-item .discount-price .old-price {
      padding-top: 2px;
      display: inline-block;
      position: relative;
      font-size: 16px; }
      .current-offers .current-offers-item .discount-price .old-price:before {
        display: block;
        content: "";
        width: 105%;
        height: 1px;
        background: #71191b;
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        position: absolute;
        top: 50%;
        margin: auto;
        left: 0;
        right: 0; }
    .current-offers .current-offers-item .discount-price .new-price {
      display: inline-block;
      color: #ffffff;
      background: #71191b;
      padding: 2px 10px 0 12px; }
  .current-offers .current-more-offers {
    text-align: center;
    margin-top: 35px; }

.our-products {
  background: url('../images/our-products-bg.jpg?1454490518') repeat-x top center;
  height: 592px;
  overflow: hidden; }
  .our-products .section-title:before {
    display: inline-block;
    content: "";
    background: url('../images/productsi-ic.png?1454490519') no-repeat center center;
    width: 23px;
    height: 23px;
    background-size: cover;
    margin-right: 10px;
    vertical-align: top;
    margin-top: 0px; }
  .our-products .pws_tabs_controll {
    margin-bottom: 20px; }
  .our-products .pws_tabs_container ul.pws_tabs_controll li a {
    background: transparent;
    color: #515151;
    padding: 0 10px;
    line-height: 36px;
    position: relative; }
    .our-products .pws_tabs_container ul.pws_tabs_controll li a:hover {
      color: #71191b; }
    .our-products .pws_tabs_container ul.pws_tabs_controll li a:after {
      display: inline-block;
      content: "";
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid #ffffff;
      position: absolute;
      bottom: -11px;
      margin: auto;
      left: 0;
      right: 0;
      opacity: 0;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    .our-products .pws_tabs_container ul.pws_tabs_controll li a:before {
      display: inline-block;
      content: "";
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid #58a07c;
      position: absolute;
      bottom: -12px;
      margin: auto;
      left: 0;
      right: 0;
      opacity: 0;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    .our-products .pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active {
      background: #ffffff;
      color: #71191b;
      border-bottom: 1px solid #238a2f; }
      .our-products .pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active:before, .our-products .pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active:after {
        opacity: 1; }
      .our-products .pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active .our-products-tab:before {
        -webkit-filter: grayscale(0);
        filter: grayscale(0); }
  .our-products .our-products-tab {
    display: inline-block; }
    .our-products .our-products-tab:before {
      display: inline-block;
      content: "";
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      margin-right: 5px;
      vertical-align: middle; }
    .our-products .our-products-tab.veget:before {
      background: url('../images/veget-ic.png?1454580912') no-repeat center center;
      width: 20px;
      height: 19px; }
    .our-products .our-products-tab.halfpabric:before {
      background: url('../images/halfpabric-ic.png?1454490517') no-repeat center center;
      width: 22px;
      height: 19px; }
    .our-products .our-products-tab.cakes:before {
      background: url('../images/cackes-ic.png?1454490516') no-repeat center center;
      width: 20px;
      height: 16px; }
    .our-products .our-products-tab.drink:before {
      background: url('../images/drink-ic.png?1454490516') no-repeat center center;
      width: 18px;
      height: 23px; }
    .our-products .our-products-tab.gastro:before {
      background: url('../images/gastro-ic.png?1454490517') no-repeat center center;
      width: 22px;
      height: 19px; }
    .our-products .our-products-tab.all-cat:before {
      background: url('../images/all-cat-ic.png?1454490515') no-repeat center center;
      width: 20px;
      height: 20px; }
  .our-products .pws_tabs_list {
    background: transparent;
    padding: 0;
    overflow: visible; }
  .our-products .bx-wrapper .bx-viewport {
    padding-right: 6px; }
  .our-products .bx-wrapper .bx-prev {
    background: url('../images/our-slider-left.png?1454490518') no-repeat center center;
    left: -57px; }
  .our-products .bx-wrapper .bx-next {
    background: url('../images/our-slider-right.png?1454490518') no-repeat center center;
    right: -57px; }
  .our-products .our-products-item {
    background: #ffffff;
    height: 376px;
    position: relative; }
    .our-products .our-products-item a {
      display: block; }
    .our-products .our-products-item a:hover {
      opacity: 0.6; }
    .our-products .our-products-item h2 {
      font-size: 18px;
      color: #238a2f;
      font-weight: bold;
      margin-bottom: 8px;
      line-height: 23px;
      max-height: 45px;
      overflow: hidden; }
    .our-products .our-products-item .our-products-desc {
      display: block;
      padding: 0 25px;
      max-height: 131px;
      overflow: hidden; }
    .our-products .our-products-item p {
      color: #000000;
      line-height: 20px; }
    .our-products .our-products-item .our-products-readmore {
      display: inline-block;
      position: absolute;
      bottom: 9px;
      right: -6px;
      background: #71191b;
      color: #ffffff;
      line-height: 28px;
      padding: 2px 11px 0;
      font-size: 12px;
      fot-weight: bold; }

.front-news .section-title:before {
  display: inline-block;
  content: "";
  background: url('../images/productsi-ic.png?1454490519') no-repeat center center;
  width: 23px;
  height: 23px;
  background-size: cover;
  margin-right: 10px;
  vertical-align: top;
  margin-top: 0px; }
.front-news .front-news-date {
  color: #9d9d9d;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px; }
.front-news .front-news-img a {
  display: block;
  font-size: 0;
  margin-bottom: 15px; }
  .front-news .front-news-img a:hover {
    opacity: 0.6; }
.front-news h2 {
  color: #238a2f;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 7px;
  line-height: 22px; }
  .front-news h2 a {
    color: #238a2f; }
    .front-news h2 a:hover {
      color: #71191b; }
.front-news p {
  line-height: 20px; }
.front-news .facebook-follow-title {
  color: #238a2f;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 7px;
  line-height: 22px;
  margin-top: 10px; }
.front-news .facebook-follow-text {
  line-height: 20px; }

#googlemaps {
  height: 715px; }

.home-map {
  position: relative; }
  .home-map .home-map-head {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
    width: 100%;
    z-index: 99; }
    .home-map .home-map-head .container {
      position: relative; }
    .home-map .home-map-head .section-title {
      color: #ffffff;
      position: absolute;
      left: 0; }
      .home-map .home-map-head .section-title:before {
        display: inline-block;
        content: "";
        background: url('../images/home-map-ic.png?1454490517') no-repeat center center;
        width: 18px;
        height: 24px;
        background-size: cover;
        margin-right: 10px;
        vertical-align: top;
        margin-top: -2px; }
  .home-map .pws_tabs_list {
    background: transparent;
    padding: 0;
    height: 57px; }
  .home-map .pws_tabs_controll {
    text-align: right; }
  .home-map .pws_tab_single {
    width: 100%;
    padding: 0;
    color: #000000;
    top: 0; }
  .home-map .pws_tabs_controll {
    margin-bottom: 35px; }
  .home-map .pws_tabs_container ul.pws_tabs_controll li {
    margin-left: 20px; }
    .home-map .pws_tabs_container ul.pws_tabs_controll li:first-child {
      margin-left: 0; }
  .home-map .pws_tabs_container {
    z-index: 999;
    position: relative; }
  .home-map .pws_tabs_container ul.pws_tabs_controll li a {
    background: transparent;
    padding: 0;
    line-height: 28px;
    color: #dbdbdb;
    display: block;
    position: relative; }
    .home-map .pws_tabs_container ul.pws_tabs_controll li a:hover {
      opacity: 0.6; }
    .home-map .pws_tabs_container ul.pws_tabs_controll li a:after {
      display: inline-block;
      content: "";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #747472;
      position: absolute;
      bottom: -7px;
      margin: auto;
      left: 0;
      right: 0;
      opacity: 0;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    .home-map .pws_tabs_container ul.pws_tabs_controll li a:before {
      display: inline-block;
      content: "";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #ffffff;
      position: absolute;
      bottom: -8px;
      margin: auto;
      left: 0;
      right: 0;
      opacity: 0;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
    .home-map .pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active {
      color: #ffffff;
      border-bottom: 1px solid #ffffff; }
      .home-map .pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active:before, .home-map .pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active:after {
        opacity: 1; }
      .home-map .pws_tabs_container ul.pws_tabs_controll li a.pws_tab_active:hover {
        opacity: 1; }
  .home-map .home-map-head {
    height: 146px;
    overflow: hidden;
    position: absolute;
    top: 0; }
  .home-map .home-contact-item {
    background: #ffffff;
    cursor: pointer;
    padding: 6px 11px 12px 8px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .home-map .home-contact-item:hover {
      opacity: 0.7; }
    .home-map .home-contact-item img {
      height: 13px;
      margin-bottom: 10px; }
  .home-map .home-contact-slider-block {
    width: 960px;
    margin: 0 auto; }
  .home-map .bx-wrapper .bx-prev {
    left: -50px;
    background: url('../images/home-contact-slider-left.png?1454490517') no-repeat center center; }
  .home-map .bx-wrapper .bx-next {
    right: -50px;
    background: url('../images/home-contact-slider-right.png?1454490517') no-repeat center center; }
