@charset "UTF-8";
.basic-page-content {
  line-height: 1.5em;
  font-size: 13px; }
  .basic-page-content img {
    max-width: 100%; }
  .basic-page-content h1, .basic-page-content h2, .basic-page-content h3, .basic-page-content h4, .basic-page-content h5, .basic-page-content h6 {
    color: #32a43f;
    font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif;
    font-weight: bold;
    text-transform: uppercase; }
  .basic-page-content h1 {
    font-size: 14px;
    margin-bottom: 10px; }
  .basic-page-content h2 {
    font-size: 16px;
    margin-bottom: 10px; }
  .basic-page-content h3 {
    font-size: 18px;
    margin-bottom: 10px; }
  .basic-page-content h4 {
    font-size: 20px;
    margin-bottom: 10px; }
  .basic-page-content h5 {
    font-size: 22px;
    margin-bottom: 10px; }
  .basic-page-content h6 {
    font-size: 24px;
    margin-bottom: 10px; }
  .basic-page-content p {
    margin: 20px 0; }
    .basic-page-content p:first-child {
      margin-top: 0; }
  .basic-page-content a {
    color: #32a43f; }
  .basic-page-content strong, .basic-page-content b {
    font-weight: bold; }
  .basic-page-content em {
    font-style: italic; }
  .basic-page-content ul {
    margin: 20px; }
    .basic-page-content ul li {
      position: relative;
      margin-top: 8px; }
      .basic-page-content ul li:before {
        display: block;
        content: "";
        width: 6px;
        height: 6px;
        background: #32a43f;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        position: absolute;
        left: -15px;
        top: 8px; }

.basic-left {
  float: left;
  width: 720px; }

.basic-right {
  float: right;
  width: 340px; }

blockquote:before {
  display: inline-block;
  content: "„";
  font-size: 32px;
  color: #b7b9b5;
  height: 25px;
  text-align: left;
  width: 18px; }
blockquote:after {
  display: inline-block;
  content: "“";
  font-size: 32px;
  color: #b7b9b5;
  text-align: left;
  width: 18px;
  height: 25px; }

.services {
  background: #c4d1c5; }
  .services .header {
    width: 100% !important; }
  .services .footer {
    height: 500px; }
  .services .services-items-block {
    margin-top: 50px; }
  .services .services-item {
    float: left;
    width: 248px;
    margin-left: 13px;
    position: relative;
    height: 161px; }
    .services .services-item a {
      display: block;
      font-size: 0; }
      .services .services-item a:hover {
        opacity: 0.7; }
    .services .services-item:first-child {
      margin-left: 0; }
    .services .services-item .services-title {
      background: #238a2f;
      color: #ffffff;
      position: absolute;
      bottom: 2px;
      left: 2px;
      width: 244px;
      font-size: 16px;
      padding: 10px 15px;
      box-sizing: border-box;
      display: block; }
      .services .services-item .services-title:hover {
        opacity: 0.8; }

.services-list-page .page-content {
  padding: 60px 107px 70px; }
