#googlemaps {
  height: 607px; }

.contact-left {
  float: left;
  width: 686px;
  position: relative; }
  .contact-left .gm-style > div:first-child:before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    z-index: 999; }

.contact-right {
  float: right;
  width: 386px; }

.contact-title {
  color: #238a2f;
  font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-weight: bold; }

.contact-information {
  margin-bottom: 65px; }

.contact-information-item {
  margin-top: 15px;
  line-height: 16px; }
  .contact-information-item.contact-address {
    background: url('../images/contact-info-address.png?1459176759') no-repeat left center;
    padding-left: 25px; }
  .contact-information-item.contact-phone {
    background: url('../images/contact-info-phone.png?1459176759') no-repeat left center;
    padding-left: 25px; }
  .contact-information-item.contact-mail {
    background: url('../images/contact-info-mail.png?1459176759') no-repeat left center;
    padding-left: 25px; }
  .contact-information-item:first-child {
    margin-top: 0; }

.contact-form-item {
  margin-top: 9px; }
  .contact-form-item:first-child {
    margin-top: 0; }

.input-style {
  width: 100%;
  border: 1px solid #238a2f;
  line-height: 41px;
  padding: 0 16px;
  box-sizing: border-box;
  font-family: "DejaVuSans", Arial, Sylfaen, sans-serif; }
  .input-style:-moz-placeholder {
    color: #222222;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .input-style::-moz-placeholder {
    color: #222222;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .input-style:-ms-input-placeholder {
    color: #222222;
    transition: all 0.3s; }
  .input-style::-webkit-input-placeholder {
    color: #222222;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .input-style:focus:-moz-placeholder {
    color: transparent; }
  .input-style:focus::-moz-placeholder {
    color: transparent; }
  .input-style:focus:-ms-input-placeholder {
    color: transparent; }
  .input-style:focus::-webkit-input-placeholder {
    color: transparent; }

.textarea-style {
  width: 100%;
  border: 1px solid #238a2f;
  line-height: 20px;
  padding: 8px 16px;
  box-sizing: border-box;
  font-family: "DejaVuSans", Arial, Sylfaen, sans-serif;
  height: 190px;
  resize: none; }
  .textarea-style:-moz-placeholder {
    color: #222222;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .textarea-style::-moz-placeholder {
    color: #222222;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .textarea-style:-ms-input-placeholder {
    color: #222222;
    transition: all 0.3s; }
  .textarea-style::-webkit-input-placeholder {
    color: #222222;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .textarea-style:focus:-moz-placeholder {
    color: transparent; }
  .textarea-style:focus::-moz-placeholder {
    color: transparent; }
  .textarea-style:focus:-ms-input-placeholder {
    color: transparent; }
  .textarea-style:focus::-webkit-input-placeholder {
    color: transparent; }

.captcha-style {
  position: relative; }
  .captcha-style .captcha-img {
    position: absolute;
    right: 1px;
    top: 1px;
    height: 41px; }

.contact-textarea-item {
  overflow: hidden;
  position: relative;
  height: 190px;
  padding-right: 1px; }
  .contact-textarea-item:before {
    display: block;
    content: "";
    width: 54px;
    height: 54px;
    border: 1px solid #238a2f;
    background: #ffffff;
    position: absolute;
    bottom: -27px;
    right: -27px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px; }

.contact-submit-item {
  position: relative; }
  .contact-submit-item .contact-submit {
    background: url('../images/contact-submit.png?1459176283') no-repeat center center;
    width: 38px;
    height: 37px;
    position: absolute;
    border: 0;
    font-size: 0;
    cursor: pointer;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    right: -16px;
    top: -23px; }
    .contact-submit-item .contact-submit:hover {
      opacity: 0.7; }
