.events {
  background: #c4d1c5; }
  .events .header {
    width: 100% !important; }
  .events .footer {
    height: 500px; }

.events-item {
  float: left;
  width: 323px;
  margin-left: 71px;
  height: 362px; }
  .events-item:first-child {
    margin-left: 0; }
  .events-item .events-img {
    display: block;
    font-size: 0;
    position: relative; }
    .events-item .events-img:hover {
      opacity: 0.7; }
    .events-item .events-img img {
      width: 100%;
      min-height: 210px; }
  .events-item .events-item-text {
    width: 360px;
    z-index: 99;
    background: rgba(255, 255, 255, 0.95);
    left: 15px;
    box-sizing: border-box;
    top: -40px;
    padding: 23px;
    position: relative;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .events-item .events-item-title {
    margin-bottom: 4px;
    font-weight: bold;
    line-height: 20px; }
    .events-item .events-item-title a {
      color: #238a2f;
      font-size: 16px; }
      .events-item .events-item-title a:hover {
        opacity: 0.7; }
  .events-item .events-item-desc {
    line-height: 22px;
    text-align: justify; }

.events-items-row {
  margin-top: 20px; }
  .events-items-row:first-child {
    margin-top: 0; }

.events-item .service-details-date {
  font-size: 12px;
  display: block; }
  .events-item .service-details-date span {
    position: relative; }
  .events-item .service-details-date:before {
    background: url('../images/events-date-bg.png?1459262578') no-repeat center center;
    display: block;
    content: "";
    width: 139px;
    height: 46px;
    position: absolute;
    right: -17px;
    bottom: -17px; }

.events-item-text:hover {
  top: -150px; }
  .events-item-text:hover .events-item-text-in {
    max-height: 236px; }
  .events-item-text:hover .events-readmore {
    height: 20px; }

.events-item-text-in {
  max-height: 129px;
  overflow: hidden;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  min-height: 150px; }

.events-readmore {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ffffff;
  color: #238a2f;
  display: block;
  line-height: 22px;
  width: 120px;
  font-weight: bold;
  height: 0;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  padding-left: 10px; }

.select2-container--open .select2-selection__rendered,
.select2-container--open .select2-dropdown {
  background: #32a43f !important; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background: #289534 !important; }

.select2-search {
  display: none !important; }

.select2-container {
  width: 140px !important; }

.select2-container--default .select2-selection--single, .select2-dropdown,
.select2-container--default .select2-selection--single,
.select2-dropdown,
.select2-container--open .select2-container--default .select2-selection--single,
.select2-container--open .select2-dropdown {
  border: 0; }

.select2-selection__rendered {
  height: 50px; }

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-results__option {
  color: #50C55E; }

.select2-container--open .select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--open .select2-results__option,
.select2-container--open .select2-selection__rendered {
  color: #fff !important; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #289534 !important; }

.select2-results__option {
  padding-top: 12px;
  padding-bottom: 12px; }

.select2-container .select2-selection--single {
  height: 50px; }

.select2-container--default .select2-selection--single .select2-selection__rendered, .select2-results__option {
  padding-top: 12px;
  box-sizing: border-box; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none !important; }

.select2-selection__arrow {
  background: url('../images/filter-select-ic-green.png?1459260278') no-repeat center center;
  background-size: cover;
  width: 7px !important;
  height: 9px !important;
  top: 23px !important;
  right: 10px !important; }

.select2-container--open .select2-selection__arrow {
  background: url('../images/filter-select-ic.png?1459255310') no-repeat center center;
  background-size: cover; }

.filter-items {
  margin-bottom: 30px;
  text-align: center; }

.filter-select-item {
  display: inline-block;
  margin-left: 10px; }
  .filter-select-item:first-child {
    margin-left: 0; }

.select2-dropdown {
  background: none; }
