.basic,
.contact {
  background: #c4d1c5; }
  .basic .overflow-layer,
  .contact .overflow-layer {
    display: none; }
  .basic .header,
  .contact .header {
    width: 100% !important; }
  .basic .footer,
  .contact .footer {
    height: 500px; }

.site-content {
  padding-top: 172px;
  position: relative; }

.page-title {
  color: #f4fbf5;
  font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: bold; }

.page-content-wrap {
  position: relative; }
  .page-content-wrap .page-content {
    position: relative;
    background: #ffffff;
    padding: 60px 65px 70px;
    z-index: 20; }
  .page-content-wrap:before {
    display: block;
    content: "";
    width: 50px;
    height: 100%;
    background: url('../images/site-content-shadow-left.png?1456480731') no-repeat top left;
    position: absolute;
    left: -20px;
    top: 0;
    z-index: 10; }
  .page-content-wrap:after {
    display: block;
    content: "";
    width: 50px;
    height: 100%;
    background: url('../images/site-content-shadow-right.png?1456480731') no-repeat top left;
    position: absolute;
    right: -20px;
    top: 0;
    z-index: 10; }
