.mobile-only,
.only-mobile {
  display: none; }

@media only screen and (max-width: 768px) {
  .mobile-only,
  .only-mobile {
    display: block; }

  .hide {
    display: none; }

  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }

  .desctop-only {
    display: none !important; }

  #loop-menu,
  .footer-menu,
  .abs-block {
    display: none; }

  .section {
    height: 156px; }

  .header {
    position: static;
    height: 80px; }
    .header .logo {
      margin-toP: 20px; }
      .header .logo img {
        height: 49px; }
    .header .lang-selector {
      display: inline-block;
      vertical-align: middle;
      margin-right: 25px; }
    .header .header-right {
      margin-top: 30px; }
    .header .main-menu-block {
      position: relative;
      margin-top: 0px;
      float: none;
      display: inline-block;
      vertical-align: middle; }
      .header .main-menu-block .add-menu {
        font-family: "raleway-regular", Arial, Sylfaen, sans-serif;
        text-transform: none;
        font-weight: normal;
        font-size: 14px !important;
        margin-top: 120px !important; }
        .header .main-menu-block .add-menu a {
          padding: 10px 30px !important; }
      .header .main-menu-block .main-menu {
        position: absolute;
        background: #238a2f;
        top: -48px;
        right: 0;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 9999999;
        -moz-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.3); }
        .header .main-menu-block .main-menu.close {
          width: 0 !important;
          overflow: hidden;
          -moz-box-shadow: 0px 0px 0px 0px transparent;
          -webkit-box-shadow: 0px 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px 0px transparent; }
        .header .main-menu-block .main-menu ul {
          margin-top: 25px; }
        .header .main-menu-block .main-menu li {
          display: block;
          margin-left: 0;
          margin-toP: 1px; }
          .header .main-menu-block .main-menu li:first-child {
            margin-top: 0; }
          .header .main-menu-block .main-menu li.active a, .header .main-menu-block .main-menu li:hover a {
            background: #399743;
            color: #ffffff; }
          .header .main-menu-block .main-menu li a {
            padding: 18px 30px;
            display: block;
            color: #ffffff; }

  #fullpage .emblema {
    background-size: 30% !important; }

  #fullpage {
    padding: 0 15px; }

  .mobile-menu-ic {
    position: realtive;
    width: 26px;
    height: 36px;
    background: url('../images/mobile-menu-ic.png?1461658429') no-repeat center center;
    background-size: 100%;
    z-index: 99999; }

  .mobile-menu-close {
    position: absolute;
    top: 29px;
    left: -40px;
    width: 31px;
    height: 31px;
    background: url('../images/mobile-menu-close.png?1461662859') no-repeat center center;
    background-size: 80%;
    z-index: 99999; }

  .footer {
    height: 511px !important; }

  .footer .footer-top .embed-soc {
    height: 301px !important;
    width: 100%;
    float: none; }

  .footer .footer-top {
    height: 441px !important;
    box-sizing: border-box; }

  .footer .footer-bottom {
    line-height: 1.5em;
    padding-top: 9px; }

  .footer .footer-bottom .footer-copyright,
  .footer .footer-bottom .footer-dev {
    float: none;
    width: auto;
    text-align: center; }

  .footer .footer-socs {
    float: none;
    width: auto;
    font-size: 10px;
    padding-left: 49px; }
    .footer .footer-socs svg {
      width: 17px;
      height: 17px;
      margin-right: 5px; }
    .footer .footer-socs .footer-socs-item {
      display: inline-block;
      width: 49%;
      margin-top: 17px; }

  .section-meniu-open-ic {
    width: 32px;
    height: 38px;
    background: url('../images/section-menu.png?1455793644') no-repeat center center;
    background-size: 15px;
    z-index: 9999;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px; }

  .shadow_of_metekhi .section-meniu-open-ic {
    background-color: #238a2f; }
  .shadow_of_metekhi .section-menu-block {
    background-color: rgba(35, 138, 47, 0.95); }

  .bread_house .section-meniu-open-ic {
    background-color: #71191b; }
  .bread_house .section-menu-block {
    background-color: rgba(113, 25, 27, 0.95); }
    .bread_house .section-menu-block a {
      color: #efa5a6; }

  .maspindzelo .section-meniu-open-ic {
    background-color: #ca292b; }
  .maspindzelo .section-menu-block {
    background-color: rgba(202, 41, 43, 0.95); }
    .maspindzelo .section-menu-block a {
      color: #f9b3b4; }

  .otium .section-meniu-open-ic {
    background-color: #1d2a35; }
  .otium .section-menu-block {
    background-color: rgba(29, 42, 53, 0.95); }
    .otium .section-menu-block a {
      color: #b8d4ea; }

  .kvareli_lake .section-meniu-open-ic {
    background-color: #005c42; }
  .kvareli_lake .section-menu-block {
    background-color: rgba(0, 92, 66, 0.95); }
    .kvareli_lake .section-menu-block a {
      color: #C1E8DD; }

  .section-menu {
    font-size: 14px; }
    .section-menu ul {
      padding-top: 27px; }
    .section-menu li {
      margin-toP: 17px; }

  #hellopreloader_preload {
    min-width: auto !important; }

  .site-content {
    padding-top: 25px; }

  .page-content-wrap .page-content {
    padding: 20px 25px 30px; }

  .i18n-en .page-title {
    font-size: 30px; }

  .page-title {
    font-size: 32px;
    margin-bottom: 24px; }

  .events-item {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-toP: 20px; }

  .events-item .events-item-text {
    width: 100%; }

  .select2-container {
    width: 120px !important;
    font-size: 13px; }

  .filter-items {
    margin-left: -15px;
    margin-right: -15px; }

  .basic-page-content .view-services {
    margin: 0; }

  .services .services-item {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-top: 5px; }

  .services .services-item .services-title {
    width: 98%; }

  .contact-left,
  .contact-right {
    float: none;
    width: 100%; }

  #googlemaps {
    height: 200px;
    margin-bottom: 20px; }

  .services-slider-block {
    width: 100%; }

  .service-desc-block {
    width: 100%;
    margin-top: -13px;
    left: 8px;
    padding: 17px; }

  .services-slider-block .bx-controls-direction {
    bottom: 18px; }

  .node-type-service .services-slider-block .bx-prev,
  .node-type-service .services-slider-block .bx-next {
    background-color: #238a2f !important; }

  .service-soc {
    margin-left: 7px; }

  .service-soc svg {
    width: 11px;
    height: 11px; }

  .basic-page-content img {
    height: auto !important; }

  .fixed-header .services-brand-logo {
    opacity: 1 !important; }

  .site-content.services-brand-page {
    background-position: top center !important; }

  .services-brand-logo {
    top: 24px !important;
    position: absolute; }
    .services-brand-logo img {
      max-height: 107px; }

  .page-content-wrap {
    margin-top: -25px; }

  .header-right {
    width: auto; } }
