.services-slider {
  height: 573px; }

.services-intro,
.events-intro {
  background: #c4d1c5; }
  .services-intro .header,
  .events-intro .header {
    width: 100% !important; }
  .services-intro .footer,
  .events-intro .footer {
    height: 500px; }

.service-desc-block {
  background: rgba(255, 255, 255, 0.95);
  position: relative;
  width: 884px;
  margin: 0 auto;
  margin-top: -43px;
  left: 25px;
  padding: 27px;
  box-sizing: border-box; }

.services-slider-block {
  width: 891px;
  margin: 0 auto;
  position: relative; }
  .services-slider-block .bx-controls-direction {
    position: absolute;
    left: 27px;
    bottom: 50px; }
  .services-slider-block .bx-next {
    display: inline-block;
    background: url('../images/arrow-white-right.png?1456731587') no-repeat center center;
    background-color: #238a2f;
    font-size: 0;
    width: 37px;
    height: 30px;
    margin-left: 6px; }
    .services-slider-block .bx-next:hover {
      opacity: 0.7; }
  .services-slider-block .bx-prev {
    display: inline-block;
    background: url('../images/arrow-white-left.png?1456731587') no-repeat center center;
    background-color: #238a2f;
    font-size: 0;
    width: 37px;
    height: 30px; }
    .services-slider-block .bx-prev:hover {
      opacity: 0.7; }

.services-pagination {
  position: absolute;
  top: 0px;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif;
  font-weight: bold; }
  .services-pagination a {
    color: #000000;
    font-size: 18px; }
    .services-pagination a:hover {
      opacity: 0.7; }
  .services-pagination .service-prev {
    position: absolute;
    left: -130px;
    width: 130px;
    display: block;
    text-align: left; }
    .services-pagination .service-prev .icon-arrow-left {
      width: 14px;
      height: 14px; }
    .services-pagination .service-prev span {
      display: inline-block;
      vertical-align: top;
      margin-left: 5px; }
  .services-pagination .service-next {
    position: absolute;
    right: -130px;
    width: 130px;
    display: block;
    text-align: right; }
    .services-pagination .service-next .icon-arrow-right {
      width: 14px;
      height: 14px; }
    .services-pagination .service-next span {
      display: inline-block;
      vertical-align: top;
      margin-right: 5px; }

.services-left {
  float: left;
  width: auto; }

.services-right {
  float: right;
  width: auto; }

.service-details-date {
  position: absolute;
  right: 17px;
  bottom: 57px;
  color: #ffffff;
  z-index: 9; }

.service-soc {
  display: inline-block;
  height: 16px;
  color: #000000 !important;
  margin-left: 30px; }
  .service-soc:first-child {
    margin-left: 0; }
  .service-soc:hover {
    color: #238a2f !important; }
    .service-soc:hover svg path {
      fill: #238a2f !important; }
  .service-soc svg {
    height: 16px;
    width: 16px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle; }
    .service-soc svg path {
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }

.back-link a {
  background: url('../images/back-isari.png?1457516520') no-repeat left center;
  display: inline-block;
  padding-left: 14px;
  color: #000000; }

.services-brand-logo {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 55px;
  z-index: 999;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.fixed-header .services-brand-logo {
  opacity: 0; }

.services-intro-brand .footer .footer-top {
  background: none; }

.events-timeline-item {
  float: left;
  width: 65px;
  text-align: right;
  font-size: 12px;
  position: relative;
  height: 12px;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .events-timeline-item.hovered, .events-timeline-item:hover {
    color: #ffffff !important; }
    .events-timeline-item.hovered .events-calendar-text, .events-timeline-item:hover .events-calendar-text {
      opacity: 1;
      z-index: 999;
      height: 80px;
      padding: 11px 32px 11px 15px; }
      .events-timeline-item.hovered .events-calendar-text:hover, .events-timeline-item:hover .events-calendar-text:hover {
        opacity: 0.7; }
      .events-timeline-item.hovered .events-calendar-text .events-calendar-info,
      .events-timeline-item.hovered .events-calendar-text .events-calenda-readmore, .events-timeline-item:hover .events-calendar-text .events-calendar-info,
      .events-timeline-item:hover .events-calendar-text .events-calenda-readmore {
        opacity: 1; }
    .events-timeline-item.hovered:hover, .events-timeline-item:hover:hover {
      z-index: 9999999; }
    .events-timeline-item.hovered .events-time-line-pin, .events-timeline-item:hover .events-time-line-pin {
      background: #ffffff !important; }
  .events-timeline-item:nth-child(14) .events-calendar-text, .events-timeline-item:nth-child(15) .events-calendar-text, .events-timeline-item:nth-child(16) .events-calendar-text, .events-timeline-item:nth-child(17) .events-calendar-text {
    -webkit-clip-path: polygon(94% 0, 98% 100%, 94% 80%, 0 80%, 0 0);
    clip-path: polygon(94% 0, 98% 100%, 94% 80%, 0 80%, 0 0);
    right: 0;
    left: auto; }
  .events-timeline-item:nth-child(14):hover .events-calendar-text, .events-timeline-item:nth-child(15):hover .events-calendar-text, .events-timeline-item:nth-child(16):hover .events-calendar-text, .events-timeline-item:nth-child(17):hover .events-calendar-text {
    padding: 11px 32px 11px 15px; }
  .events-timeline-item.empty-date {
    font-size: 0; }
    .events-timeline-item.empty-date .events-time-line-pin {
      opacity: 0; }
  .events-timeline-item .events-time-line-pin {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: auto;
    left: 0;
    right: 0;
    top: -23px;
    position: absolute;
    border: 3px solid transparent;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

.events-calendar {
  padding: 27px 0;
  color: rgba(255, 255, 255, 0.3);
  height: 200px; }

.events-timeline-items {
  position: relative;
  border-toP: 3px solid transparent;
  padding-top: 15px;
  margin-top: 130px;
  -webkit-filter: grayscale(20%);
  filter: grayscale(20%);
  padding: 15px 50px 0 50px;
  height: 200px; }

.events-calendar-title {
  font-size: 24px;
  color: #ffffff;
  font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif; }

.events-calendar-text {
  height: 0px;
  overflow: hidden;
  width: 359px;
  position: absolute;
  bottom: 22px;
  color: #ffffff;
  font-size: 14px;
  display: block;
  left: 10px;
  -webkit-clip-path: polygon(4% 0, 100% 0%, 100% 80%, 4% 80%, 0 100%);
  clip-path: polygon(4% 0, 100% 0%, 100% 80%, 4% 80%, 0 100%);
  border-right: 5px solid transparent;
  box-sizing: border-box;
  text-align: left;
  opacity: 0;
  padding: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .events-calendar-text:hover {
    color: #ffffff; }
  .events-calendar-text .events-calendar-info {
    float: left;
    width: 218px;
    line-height: 22px;
    opacity: 0; }

.events-calenda-readmore {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  height: 45px;
  padding-left: 15px;
  display: block;
  float: right;
  width: 73px;
  line-height: 22px;
  text-align: center;
  opacity: 0; }

.events-calendar .bx-controls {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px; }
  .events-calendar .bx-controls a {
    width: 37px;
    height: 30px;
    display: inline-block;
    margin-left: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0; }
    .events-calendar .bx-controls a:hover {
      opacity: 0.7; }
    .events-calendar .bx-controls a.bx-prev {
      background: url('../images/calendar-arrow-left.png?1459424191') no-repeat center center; }
    .events-calendar .bx-controls a.bx-next {
      background: url('../images/calendar-arrow-right.png?1459424191') no-repeat center center; }
    .events-calendar .bx-controls a:first-child {
      margin-left: 0; }
.events-calendar .bx-wrapper {
  position: relative; }

.events-calendar-map {
  position: relative; }
  .events-calendar-map #googlemaps {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 326px; }

.items-pager a {
  display: block;
  width: 109px;
  font-size: 0;
  float: left;
  margin: 0 7px; }
  .items-pager a img {
    width: 100%;
    margin-top: 3px;
    margin-left: 3px;
    border: 3px solid transparent;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }

.items-pager {
  width: 100%;
  position: relative;
  margin-bottom: 40px; }

/* Replace the last selector for the type(s) of element(s) you have in
   your scroller.
   If you have images use #touchScroller div.scrollableArea img,
   If you have div's use #touchScroller div.scrollableArea div,
   if you have links use #touchScroller div.scrollableArea a,
   or add several selectors if you have mixed content
   ...and so on. */
.items-pager div.scrollableArea a {
  position: relative;
  float: left;
  margin: 0;
  padding: 0 5px;
  /* If you don't want the images in the scroller to be selectable, try the following
     block of code. It's just a nice feature that prevent the images from
     accidentally becoming selected/inverted when the user interacts with the scroller. */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .items-pager div.scrollableArea a:hover img {
    opacity: 0.8; }

.kvareli-like .services-brand-logo {
  top: 56px;
  width: 186px; }
  .kvareli-like .services-brand-logo img {
    height: 198px;
    height: 198px;
    width: 186px; }
.kvareli-like .bx-controls-direction a,
.kvareli-like .basic-page-content ul li:before,
.kvareli-like .events-calendar {
  background-color: #005d42; }
.kvareli-like .items-pager a.active img {
  border-color: #005d42; }
.kvareli-like .basic-page-content h1, .kvareli-like .basic-page-content h2, .kvareli-like .basic-page-content h3, .kvareli-like .basic-page-content h4, .kvareli-like .basic-page-content h5, .kvareli-like .basic-page-content h6, .kvareli-like .basic-page-content a {
  color: #005d42; }
.kvareli-like .events-timeline-items {
  border-color: #4e917b; }
.kvareli-like .events-timeline-item .events-time-line-pin {
  background-color: #77ae9a;
  border-color: #005d42; }
.kvareli-like .events-calendar-text {
  background: #177f61; }
.kvareli-like .events-timeline-item {
  color: #77ae9a; }
.kvareli-like .events-calendar .bx-controls a.bx-next,
.kvareli-like .events-calendar .bx-controls a.bx-prev {
  background-color: #177f61; }
.kvareli-like .footer .footer-top {
  background: none;
  background-color: #005d42; }
.kvareli-like .services-pagination a,
.kvareli-like .services-pagination a:hover {
  color: #4f917b; }
.kvareli-like .footer .footer-top .embed-soc .pws_tabs_controll li a {
  background-color: #b3cfc7; }

.breadhouse .events-calendar .bx-controls a.bx-prev {
  background: url('../images/arrow-left-breadhouse.png?1461075520') no-repeat center center;
  background-color: #e2aa71 !important; }
.breadhouse .events-calendar .bx-controls a.bx-next {
  background: url('../images/arrow-right-breadhouse.png?1461075520') no-repeat center center;
  background-color: #e2aa71 !important; }
.breadhouse .services-slider-block .bx-next {
  background: url('../images/arrow-right-breadhouse.png?1461075520') no-repeat center center;
  background-color: #fff; }
.breadhouse .services-slider-block .bx-prev {
  background: url('../images/arrow-left-breadhouse.png?1461075520') no-repeat center center;
  background-color: #fff; }
.breadhouse .services-brand-logo {
  top: 60px;
  width: 233px; }
  .breadhouse .services-brand-logo img {
    height: 113px;
    width: 233px; }
.breadhouse .bx-controls-direction a,
.breadhouse .basic-page-content ul li:before,
.breadhouse .events-calendar {
  background-color: #7b1618; }
.breadhouse .items-pager a.active img {
  border-color: #822224; }
.breadhouse .basic-page-content h1, .breadhouse .basic-page-content h2, .breadhouse .basic-page-content h3, .breadhouse .basic-page-content h4, .breadhouse .basic-page-content h5, .breadhouse .basic-page-content h6, .breadhouse .basic-page-content a {
  color: #7b1618; }
.breadhouse .events-timeline-items {
  border-color: #902c2e; }
.breadhouse .events-timeline-item.hovered .events-time-line-pin, .breadhouse .events-timeline-item:hover .events-time-line-pin {
  background-color: #e2aa71 !important;
  border-color: #a5723e; }
.breadhouse .events-timeline-item.hovered {
  color: #e2aa71 !important; }
.breadhouse .events-timeline-item .events-time-line-pin {
  background-color: #640b0d;
  border-color: #a73e40; }
.breadhouse .events-calendar-text {
  background: #640b0d; }
.breadhouse .events-timeline-item {
  color: #ffffff; }
.breadhouse .events-calendar .bx-controls a.bx-next,
.breadhouse .events-calendar .bx-controls a.bx-prev {
  background-color: #177f61; }
.breadhouse .footer .footer-top {
  background: none;
  background-color: #7b1618; }
.breadhouse .services-pagination a,
.breadhouse .services-pagination a:hover {
  color: #7b1618; }
.breadhouse .footer .footer-top .embed-soc .pws_tabs_controll li a {
  background-color: #d8baba; }

.maspindzelo .footer .footer-top .embed-soc .pws_tabs_controll li a {
  background-color: #cebebe; }
.maspindzelo .events-calendar-title {
  color: #a58e78; }
.maspindzelo .events-timeline-item.hovered {
  color: #ca292b !important; }
  .maspindzelo .events-timeline-item.hovered .events-time-line-pin {
    background: #ca292b !important; }
.maspindzelo .services-slider-block .bx-next {
  background: url('../images/arrow-right-maspindzelo.png?1461075520') no-repeat center center;
  background-color: #fff; }
.maspindzelo .services-slider-block .bx-prev {
  background: url('../images/arrow-left-maspindzelo.png?1461075520') no-repeat center center;
  background-color: #fff; }
.maspindzelo .services-brand-logo {
  top: 84px;
  width: 265px; }
  .maspindzelo .services-brand-logo img {
    height: 77px;
    width: 265px; }
.maspindzelo .bx-controls-direction a,
.maspindzelo .basic-page-content ul li:before,
.maspindzelo .events-calendar {
  background-color: #5c2625; }
.maspindzelo .items-pager a.active img {
  border-color: #ca292b; }
.maspindzelo .basic-page-content h1, .maspindzelo .basic-page-content h2, .maspindzelo .basic-page-content h3, .maspindzelo .basic-page-content h4, .maspindzelo .basic-page-content h5, .maspindzelo .basic-page-content h6, .maspindzelo .basic-page-content a {
  color: #ca292b; }
.maspindzelo .events-timeline-items {
  border-color: #794645; }
.maspindzelo .events-timeline-item .events-time-line-pin {
  background-color: #794645;
  border-color: #5c2625; }
.maspindzelo .events-calendar-text {
  background: #ca292b; }
.maspindzelo .events-timeline-item {
  color: #846d56; }
.maspindzelo .events-calendar .bx-controls a.bx-next,
.maspindzelo .events-calendar .bx-controls a.bx-prev {
  background-color: #ca292b; }
.maspindzelo .footer .footer-top {
  background: none;
  background-color: #5c2625; }
.maspindzelo .services-pagination a,
.maspindzelo .services-pagination a:hover {
  color: #ca292b; }

.dzveli-tbilisi .footer .footer-top .embed-soc .pws_tabs_controll li a {
  background-color: #bcbcbc; }
.dzveli-tbilisi .events-timeline-item.hovered {
  color: #32a43f !important; }
  .dzveli-tbilisi .events-timeline-item.hovered .events-time-line-pin {
    background: #32a43f !important; }
.dzveli-tbilisi .services-slider-block .bx-next {
  background: url('../images/arrow-right-dzveli-tbilisi.png?1461076863') no-repeat center center;
  background-color: #fff; }
.dzveli-tbilisi .services-slider-block .bx-prev {
  background: url('../images/arrow-left-dzveli-tbilisi.png?1461076863') no-repeat center center;
  background-color: #fff; }
.dzveli-tbilisi .services-brand-logo {
  top: 48px;
  width: 128px; }
  .dzveli-tbilisi .services-brand-logo img {
    height: 136px;
    width: 128px; }
.dzveli-tbilisi .bx-controls-direction a,
.dzveli-tbilisi .basic-page-content ul li:before,
.dzveli-tbilisi .events-calendar {
  background-color: #1e1e1e; }
.dzveli-tbilisi .items-pager a.active img {
  border-color: #0d0d0d; }
.dzveli-tbilisi .basic-page-content h1, .dzveli-tbilisi .basic-page-content h2, .dzveli-tbilisi .basic-page-content h3, .dzveli-tbilisi .basic-page-content h4, .dzveli-tbilisi .basic-page-content h5, .dzveli-tbilisi .basic-page-content h6, .dzveli-tbilisi .basic-page-content a {
  color: #1e1e1e; }
.dzveli-tbilisi .events-timeline-items {
  border-color: #363636; }
.dzveli-tbilisi .events-timeline-item .events-time-line-pin {
  background-color: #595959;
  border-color: #363636; }
.dzveli-tbilisi .events-calendar-text {
  background: #0d0d0d; }
.dzveli-tbilisi .events-timeline-item {
  color: #fff; }
.dzveli-tbilisi .events-calendar .bx-controls a.bx-next,
.dzveli-tbilisi .events-calendar .bx-controls a.bx-prev {
  background-color: #0d0d0d; }
.dzveli-tbilisi .footer .footer-top {
  background: none;
  background-color: #1e1e1e; }
.dzveli-tbilisi .services-pagination a,
.dzveli-tbilisi .services-pagination a:hover {
  color: #1e1e1e; }

.otium .footer .footer-top .embed-soc .pws_tabs_controll li a {
  background-color: #8393a1; }
.otium .events-calendar-title {
  color: #ffff; }
.otium .services-slider-block .bx-next {
  background: url('../images/arrow-white-right.png?1456731587') no-repeat center center;
  background-color: #1B2A34; }
.otium .services-slider-block .bx-prev {
  background: url('../images/arrow-white-left.png?1456731587') no-repeat center center;
  background-color: #1B2A34; }
.otium .services-brand-logo {
  top: 65px;
  width: 100px; }
  .otium .services-brand-logo img {
    height: 100px;
    width: 100px; }
.otium .bx-controls-direction a,
.otium .basic-page-content ul li:before,
.otium .events-calendar {
  background-color: #1B2A34; }
.otium .items-pager a.active img {
  border-color: #1B2A34; }
.otium .basic-page-content h1, .otium .basic-page-content h2, .otium .basic-page-content h3, .otium .basic-page-content h4, .otium .basic-page-content h5, .otium .basic-page-content h6, .otium .basic-page-content a {
  color: #1B2A34; }
.otium .events-timeline-items {
  border-color: #8393a1; }
.otium .events-timeline-item .events-time-line-pin {
  background-color: #8393a1;
  border-color: #1B2A34; }
.otium .events-calendar-text {
  background: #495B67; }
.otium .events-timeline-item {
  color: #ffffff; }
.otium .events-calendar .bx-controls a.bx-next,
.otium .events-calendar .bx-controls a.bx-prev {
  background-color: #8393a1; }
.otium .footer .footer-top {
  background: none;
  background-color: #1B2A34; }
.otium .services-pagination a,
.otium .services-pagination a:hover {
  color: #8393a1; }
