@charset "UTF-8";
/* line 7, ../sass/basic.scss */
.basic-page-content {
  line-height: 1.5em;
  font-size: 13px;
}
/* line 13, ../sass/basic.scss */
.basic-page-content img {
  max-width: 100%;
}
/* line 18, ../sass/basic.scss */
.basic-page-content h1, .basic-page-content h2, .basic-page-content h3, .basic-page-content h4, .basic-page-content h5, .basic-page-content h6 {
  color: #32a43f;
  font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif;
  font-weight: bold;
}
/* line 25, ../sass/basic.scss */
.basic-page-content h1 {
  font-size: 14px;
  margin-bottom: 10px;
}
/* line 32, ../sass/basic.scss */
.basic-page-content h2 {
  font-size: 16px;
  margin-bottom: 10px;
}
/* line 38, ../sass/basic.scss */
.basic-page-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
/* line 44, ../sass/basic.scss */
.basic-page-content h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
/* line 50, ../sass/basic.scss */
.basic-page-content h5 {
  font-size: 22px;
  margin-bottom: 10px;
}
/* line 56, ../sass/basic.scss */
.basic-page-content h6 {
  font-size: 24px;
  margin-bottom: 10px;
}
/* line 62, ../sass/basic.scss */
.basic-page-content p {
  margin: 20px 0;
}
/* line 66, ../sass/basic.scss */
.basic-page-content p:first-child {
  margin-top: 0;
}
/* line 73, ../sass/basic.scss */
.basic-page-content a {
  color: #32a43f;
}
/* line 77, ../sass/basic.scss */
.basic-page-content strong, .basic-page-content b {
  font-weight: bold;
}
/* line 81, ../sass/basic.scss */
.basic-page-content em {
  font-style: italic;
}
/* line 88, ../sass/basic.scss */
.basic-page-content ul {
  margin: 20px;
}
/* line 92, ../sass/basic.scss */
.basic-page-content ul li {
  position: relative;
  margin-top: 8px;
}
/* line 97, ../sass/basic.scss */
.basic-page-content ul li:before {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  background: #32a43f;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  left: -15px;
  top: 8px;
}

/* line 115, ../sass/basic.scss */
.basic-left {
  float: left;
  width: 720px;
}

/* line 127, ../sass/basic.scss */
.basic-right {
  float: right;
  width: 340px;
}

/* line 136, ../sass/basic.scss */
blockquote:before {
  display: inline-block;
  content: "„";
  font-size: 32px;
  color: #b7b9b5;
  height: 25px;
  text-align: left;
  width: 18px;
}
/* line 146, ../sass/basic.scss */
blockquote:after {
  display: inline-block;
  content: "“";
  font-size: 32px;
  color: #b7b9b5;
  text-align: left;
  width: 18px;
  height: 25px;
}

/* line 166, ../sass/basic.scss */
.services {
  background: #c4d1c5;
}
/* line 170, ../sass/basic.scss */
.services .header {
  width: 100% !important;
}
/* line 174, ../sass/basic.scss */
.services .footer {
  height: 500px;
}
/* line 181, ../sass/basic.scss */
.services .services-items-block {
  margin-top: 50px;
}
/* line 187, ../sass/basic.scss */
.services .services-item {
  float: left;
  width: 248px;
  margin-left: 13px;
  position: relative;
  height: 161px;
}
/* line 197, ../sass/basic.scss */
.services .services-item a {
  display: block;
  font-size: 0;
}
/* line 201, ../sass/basic.scss */
.services .services-item a:hover {
  opacity: 0.7;
}
/* line 207, ../sass/basic.scss */
.services .services-item:first-child {
  margin-left: 0;
}
/* line 212, ../sass/basic.scss */
.services .services-item .services-title {
  background: #238a2f;
  color: #ffffff;
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 244px;
  font-size: 16px;
  padding: 10px 15px;
  box-sizing: border-box;
  display: block;
}
/* line 225, ../sass/basic.scss */
.services .services-item .services-title:hover {
  opacity: 0.8;
}

/* line 234, ../sass/basic.scss */
.services-list-page .page-content {
  padding: 60px 107px 70px;
}
