/* line 6, ../sass/contact.scss */
#googlemaps {
  height: 568px;
}

/* line 13, ../sass/contact.scss */
.contact-left {
  float: left;
  width: 686px;
}

/* line 20, ../sass/contact.scss */
.contact-right {
  float: right;
  width: 386px;
}

/* line 28, ../sass/contact.scss */
.contact-title {
  color: #238a2f;
  font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

/* line 40, ../sass/contact.scss */
.contact-information {
  margin-bottom: 65px;
}

/* line 46, ../sass/contact.scss */
.contact-information-item {
  margin-top: 15px;
  line-height: 16px;
}
/* line 51, ../sass/contact.scss */
.contact-information-item.contact-address {
  background: url('/images/contact-info-address.png?1459176759') no-repeat left center;
  padding-left: 25px;
}
/* line 57, ../sass/contact.scss */
.contact-information-item.contact-phone {
  background: url('/images/contact-info-phone.png?1459176759') no-repeat left center;
  padding-left: 25px;
}
/* line 64, ../sass/contact.scss */
.contact-information-item.contact-mail {
  background: url('/images/contact-info-mail.png?1459176759') no-repeat left center;
  padding-left: 25px;
}
/* line 71, ../sass/contact.scss */
.contact-information-item:first-child {
  margin-top: 0;
}

/* line 77, ../sass/contact.scss */
.contact-form-item {
  margin-top: 9px;
}
/* line 81, ../sass/contact.scss */
.contact-form-item:first-child {
  margin-top: 0;
}

/* line 87, ../sass/contact.scss */
.input-style {
  width: 100%;
  border: 1px solid #238a2f;
  line-height: 41px;
  padding: 0 16px;
  box-sizing: border-box;
  font-family: "DejaVuSans", Arial, Sylfaen, sans-serif;
}
/* line 61, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.input-style:-moz-placeholder {
  color: #222222;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 64, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.input-style::-moz-placeholder {
  color: #222222;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 67, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.input-style:-ms-input-placeholder {
  color: #222222;
  transition: all 0.3s;
}
/* line 56, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.input-style::-webkit-input-placeholder {
  color: #222222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 61, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.input-style:focus:-moz-placeholder {
  color: transparent;
}
/* line 64, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.input-style:focus::-moz-placeholder {
  color: transparent;
}
/* line 67, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.input-style:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 56, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.input-style:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 122, ../sass/contact.scss */
.textarea-style {
  width: 100%;
  border: 1px solid #238a2f;
  line-height: 20px;
  padding: 8px 16px;
  box-sizing: border-box;
  font-family: "DejaVuSans", Arial, Sylfaen, sans-serif;
  height: 190px;
  resize: none;
}
/* line 61, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.textarea-style:-moz-placeholder {
  color: #222222;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 64, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.textarea-style::-moz-placeholder {
  color: #222222;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 67, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.textarea-style:-ms-input-placeholder {
  color: #222222;
  transition: all 0.3s;
}
/* line 56, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.textarea-style::-webkit-input-placeholder {
  color: #222222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 61, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.textarea-style:focus:-moz-placeholder {
  color: transparent;
}
/* line 64, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.textarea-style:focus::-moz-placeholder {
  color: transparent;
}
/* line 67, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.textarea-style:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 56, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_user-interface.scss */
.textarea-style:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 157, ../sass/contact.scss */
.captcha-style {
  position: relative;
}
/* line 162, ../sass/contact.scss */
.captcha-style .captcha-img {
  position: absolute;
  right: 1px;
  top: 1px;
  height: 41px;
}

/* line 172, ../sass/contact.scss */
.contact-textarea-item {
  overflow: hidden;
  position: relative;
  height: 190px;
  padding-right: 1px;
}
/* line 179, ../sass/contact.scss */
.contact-textarea-item:before {
  display: block;
  content: "";
  width: 54px;
  height: 54px;
  border: 1px solid #238a2f;
  background: #ffffff;
  position: absolute;
  bottom: -27px;
  right: -27px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
}

/* line 198, ../sass/contact.scss */
.contact-submit-item {
  position: relative;
}
/* line 204, ../sass/contact.scss */
.contact-submit-item .contact-submit {
  background: url('/images/contact-submit.png?1459176283') no-repeat center center;
  width: 38px;
  height: 37px;
  position: absolute;
  border: 0;
  font-size: 0;
  cursor: pointer;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  right: -16px;
  top: -23px;
}
/* line 220, ../sass/contact.scss */
.contact-submit-item .contact-submit:hover {
  opacity: 0.7;
}
