/* line 5, ../sass/events.scss */
.events {
  background: #c4d1c5;
}
/* line 9, ../sass/events.scss */
.events .header {
  width: 100% !important;
}
/* line 13, ../sass/events.scss */
.events .footer {
  height: 500px;
}

/* line 33, ../sass/events.scss */
.events-item {
  float: left;
  width: 323px;
  margin-left: 71px;
  height: 362px;
}
/* line 40, ../sass/events.scss */
.events-item:first-child {
  margin-left: 0;
}
/* line 46, ../sass/events.scss */
.events-item .events-img {
  display: block;
  font-size: 0;
  position: relative;
}
/* line 52, ../sass/events.scss */
.events-item .events-img:hover {
  opacity: 0.7;
}
/* line 57, ../sass/events.scss */
.events-item .events-img img {
  width: 100%;
  min-height: 210px;
}
/* line 63, ../sass/events.scss */
.events-item .events-item-text {
  width: 360px;
  z-index: 99;
  background: rgba(255, 255, 255, 0.95);
  left: 15px;
  box-sizing: border-box;
  top: -40px;
  padding: 23px;
  position: relative;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 77, ../sass/events.scss */
.events-item .events-item-title {
  margin-bottom: 4px;
  font-weight: bold;
  line-height: 20px;
}
/* line 83, ../sass/events.scss */
.events-item .events-item-title a {
  color: #238a2f;
  font-size: 16px;
}
/* line 87, ../sass/events.scss */
.events-item .events-item-title a:hover {
  opacity: 0.7;
}
/* line 97, ../sass/events.scss */
.events-item .events-item-desc {
  line-height: 22px;
  text-align: justify;
}

/* line 107, ../sass/events.scss */
.events-items-row {
  margin-top: 20px;
}
/* line 111, ../sass/events.scss */
.events-items-row:first-child {
  margin-top: 0;
}

/* line 120, ../sass/events.scss */
.events-item .service-details-date {
  font-size: 12px;
  display: block;
}
/* line 125, ../sass/events.scss */
.events-item .service-details-date span {
  position: relative;
}
/* line 129, ../sass/events.scss */
.events-item .service-details-date:before {
  background: url('/images/events-date-bg.png?1459262578') no-repeat center center;
  display: block;
  content: "";
  width: 139px;
  height: 46px;
  position: absolute;
  right: -17px;
  bottom: -17px;
}

/* line 149, ../sass/events.scss */
.events-item-text:hover {
  top: -150px;
}
/* line 153, ../sass/events.scss */
.events-item-text:hover .events-item-text-in {
  max-height: 236px;
}
/* line 157, ../sass/events.scss */
.events-item-text:hover .events-readmore {
  height: 20px;
}

/* line 167, ../sass/events.scss */
.events-item-text-in {
  max-height: 129px;
  overflow: hidden;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  min-height: 150px;
}

/* line 176, ../sass/events.scss */
.events-readmore {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ffffff;
  color: #238a2f;
  display: block;
  line-height: 22px;
  width: 120px;
  font-weight: bold;
  height: 0;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  padding-left: 10px;
}

/* line 194, ../sass/events.scss */
.select2-container--open .select2-selection__rendered,
.select2-container--open .select2-dropdown {
  background: #32a43f !important;
}

/* line 200, ../sass/events.scss */
.select2-container--default .select2-results__option[aria-selected=true] {
  background: #289534 !important;
}

/* line 205, ../sass/events.scss */
.select2-search {
  display: none !important;
}

/* line 210, ../sass/events.scss */
.select2-container {
  width: 140px !important;
}

/* line 214, ../sass/events.scss */
.select2-container--default .select2-selection--single, .select2-dropdown,
.select2-container--default .select2-selection--single,
.select2-dropdown,
.select2-container--open .select2-container--default .select2-selection--single,
.select2-container--open .select2-dropdown {
  border: 0;
}

/* line 227, ../sass/events.scss */
.select2-selection__rendered {
  height: 50px;
}

/* line 231, ../sass/events.scss */
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-results__option {
  color: #50C55E;
}

/* line 237, ../sass/events.scss */
.select2-container--open .select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--open .select2-results__option,
.select2-container--open .select2-selection__rendered {
  color: #fff !important;
}

/* line 245, ../sass/events.scss */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #289534 !important;
}

/* line 250, ../sass/events.scss */
.select2-results__option {
  padding-top: 12px;
  padding-bottom: 12px;
}

/* line 255, ../sass/events.scss */
.select2-container .select2-selection--single {
  height: 50px;
}

/* line 259, ../sass/events.scss */
.select2-container--default .select2-selection--single .select2-selection__rendered, .select2-results__option {
  padding-top: 12px;
  box-sizing: border-box;
}

/* line 266, ../sass/events.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none !important;
}

/* line 272, ../sass/events.scss */
.select2-selection__arrow {
  background: url('/images/filter-select-ic-green.png?1459260278') no-repeat center center;
  background-size: cover;
  width: 7px !important;
  height: 9px !important;
  top: 23px !important;
  right: 10px !important;
}

/* line 286, ../sass/events.scss */
.select2-container--open .select2-selection__arrow {
  background: url('/images/filter-select-ic.png?1459255310') no-repeat center center;
  background-size: cover;
}

/* line 298, ../sass/events.scss */
.filter-items {
  margin-bottom: 30px;
  text-align: center;
}

/* line 305, ../sass/events.scss */
.filter-select-item {
  display: inline-block;
  margin-left: 10px;
}
/* line 310, ../sass/events.scss */
.filter-select-item:first-child {
  margin-left: 0;
}

/* line 316, ../sass/events.scss */
.select2-dropdown {
  background: none;
}
