/* line 5, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
	bootstrap grid
*/
/* line 9, ../sass/global.scss */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../sass/global.scss */
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

/* line 29, ../sass/global.scss */
.main .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 36, ../sass/global.scss */
.container {
  width: 1246px;
  margin-left: auto;
  margin-right: auto;
}

/* line 45, ../sass/global.scss */
html {
  min-height: 100%;
  position: relative;
}

/* line 54, ../sass/global.scss */
body {
  color: #3d444a;
  font-size: 14px;
  font-family: "DejaVuSans", Arial, Sylfaen, sans-serif;
  background-color: #ffffff;
}

/* line 69, ../sass/global.scss */
.main .all-wrapper {
  padding: 0px 65px 0px !important;
  box-sizing: border-box;
}

@font-face {
  font-family: "DejaVuSans";
  src: url('/fonts/DejaVuSans/DejaVuSans.eot');
  src: url('/fonts/DejaVuSans/DejaVuSans.eot?#iefix') format('embedded-opentype'), url('/fonts/DejaVuSans/DejaVuSans.woff') format('woff'), url('/fonts/DejaVuSans/DejaVuSans.ttf') format('truetype'), url('/fonts/DejaVuSans/DejaVuSans.svg') format('svg');
}
@font-face {
  font-family: "bpg_nino_mtavruli_book_0";
  src: url('/fonts/bpg_nino_mtavruli_book_0/bpg_nino_mtavruli_book_0.eot');
  src: url('/fonts/bpg_nino_mtavruli_book_0/bpg_nino_mtavruli_book_0.eot?#iefix') format('embedded-opentype'), url('/fonts/bpg_nino_mtavruli_book_0/bpg_nino_mtavruli_book_0.woff') format('woff'), url('/fonts/bpg_nino_mtavruli_book_0/bpg_nino_mtavruli_book_0.ttf') format('truetype'), url('/fonts/bpg_nino_mtavruli_book_0/bpg_nino_mtavruli_book_0.svg') format('svg');
}
@font-face {
  font-family: "bpg_dejavu_sans-webfont";
  src: url('/fonts/bpg_dejavu_sans-webfont/bpg_dejavu_sans-webfont.eot');
  src: url('/fonts/bpg_dejavu_sans-webfont/bpg_dejavu_sans-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/bpg_dejavu_sans-webfont/bpg_dejavu_sans-webfont.woff') format('woff'), url('/fonts/bpg_dejavu_sans-webfont/bpg_dejavu_sans-webfont.ttf') format('truetype'), url('/fonts/bpg_dejavu_sans-webfont/bpg_dejavu_sans-webfont.svg') format('svg');
}
/* line 91, ../sass/global.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 97, ../sass/global.scss */
*:focus {
  outline: none;
}

/* line 103, ../sass/global.scss */
a {
  text-decoration: none;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #555655;
  cursor: pointer;
}
/* line 109, ../sass/global.scss */
a:hover {
  text-decoration: none;
  color: #888988;
}
/* line 115, ../sass/global.scss */
a:focus {
  outline: none;
}
/* line 119, ../sass/global.scss */
a:focus {
  color: #888988;
}
/* line 124, ../sass/global.scss */
a:active {
  color: #888988;
}

/* line 130, ../sass/global.scss */
.right {
  float: right;
}

/* line 134, ../sass/global.scss */
.abs-block {
  position: fixed;
  width: 52px;
  right: 38px;
  bottom: 0px;
  top: 116px;
  margin: auto;
  z-index: 99;
}

/* line 145, ../sass/global.scss */
#block-down-arrow {
  right: 38px;
  height: 87px;
  background: url('/images/down-strelka.png?1455793570') no-repeat center center;
  background-color: #238a2f;
  z-index: 99;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 2px;
}
/* line 159, ../sass/global.scss */
#block-down-arrow:hover {
  opacity: 0.8;
}

/* line 168, ../sass/global.scss */
#block-up-arrow {
  height: 87px;
  width: 52px;
  margin-top: 2px;
  background: url('/images/up-strelka.png?1455793698') no-repeat center center;
  background-color: #238a2f;
  z-index: 99;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 183, ../sass/global.scss */
#block-up-arrow:hover {
  opacity: 0.8;
}

/* line 192, ../sass/global.scss */
#section-menu-ic {
  height: 63px;
  width: 52px;
  margin-top: 2px;
  background: url('/images/section-menu.png?1455793644') no-repeat center center;
  background-color: #238a2f;
  z-index: 99;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 207, ../sass/global.scss */
#section-menu-ic:hover {
  opacity: 0.8;
}

/* line 216, ../sass/global.scss */
.overflow-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -999999;
}

/* line 225, ../sass/global.scss */
#fullpage {
  box-sizing: border-box;
}
/* line 231, ../sass/global.scss */
#fullpage .section {
  box-sizing: border-box;
}
/* line 237, ../sass/global.scss */
#fullpage .container-img {
  height: 100%;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
}
/* line 245, ../sass/global.scss */
#fullpage .fp-tableCell {
  display: block;
}
/* line 249, ../sass/global.scss */
#fullpage .fp-section.fp-table, #fullpage .fp-slide.fp-table {
  display: block;
  table-layout: none;
}
/* line 255, ../sass/global.scss */
#fullpage .emblema {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

/* line 270, ../sass/global.scss */
.fp-viewing-green-section #loop-menu a {
  color: #75a182;
}
/* line 276, ../sass/global.scss */
.fp-viewing-green-section #block-down-arrow {
  background: url('/images/down-strelka.png?1455793570') no-repeat center center;
  background-color: #238a2f;
}
/* line 282, ../sass/global.scss */
.fp-viewing-green-section #block-up-arrow {
  background: url('/images/up-strelka.png?1455793698') no-repeat center center;
  background-color: #238a2f;
}
/* line 288, ../sass/global.scss */
.fp-viewing-green-section #section-menu-ic {
  background: url('/images/section-menu.png?1455793644') no-repeat center center;
  background-color: #238a2f;
}
/* line 296, ../sass/global.scss */
.fp-viewing-green-section .section-menu-block {
  background-color: rgba(35, 138, 47, 0.95);
}
/* line 300, ../sass/global.scss */
.fp-viewing-green-section .section-menu-block a {
  color: #D0FFD6;
}

/* line 314, ../sass/global.scss */
.fp-viewing-red-section #loop-menu a {
  color: #e6c1a4;
}
/* line 320, ../sass/global.scss */
.fp-viewing-red-section #block-down-arrow {
  background: url('/images/down-strelka.png?1455793570') no-repeat center center;
  background-color: #71191b;
}
/* line 327, ../sass/global.scss */
.fp-viewing-red-section #block-up-arrow {
  background: url('/images/up-strelka.png?1455793698') no-repeat center center;
  background-color: #71191b;
}
/* line 333, ../sass/global.scss */
.fp-viewing-red-section #section-menu-ic {
  background: url('/images/section-menu.png?1455793644') no-repeat center center;
  background-color: #71191b;
}
/* line 343, ../sass/global.scss */
.fp-viewing-red-section .section-menu-block {
  background-color: rgba(113, 25, 27, 0.95);
}
/* line 347, ../sass/global.scss */
.fp-viewing-red-section .section-menu-block a {
  color: #EFA5A6;
}

/* line 360, ../sass/global.scss */
.fp-viewing-coral-section #loop-menu a {
  color: #b77e7e;
}
/* line 366, ../sass/global.scss */
.fp-viewing-coral-section #block-down-arrow {
  background: url('/images/down-strelka.png?1455793570') no-repeat center center;
  background-color: #ca292b;
}
/* line 372, ../sass/global.scss */
.fp-viewing-coral-section #block-up-arrow {
  background: url('/images/up-strelka.png?1455793698') no-repeat center center;
  background-color: #ca292b;
}
/* line 378, ../sass/global.scss */
.fp-viewing-coral-section #section-menu-ic {
  background: url('/images/section-menu.png?1455793644') no-repeat center center;
  background-color: #ca292b;
}
/* line 385, ../sass/global.scss */
.fp-viewing-coral-section .section-menu-block {
  background-color: rgba(202, 41, 43, 0.95);
}
/* line 389, ../sass/global.scss */
.fp-viewing-coral-section .section-menu-block a {
  color: #F9B3B4;
}

/* line 403, ../sass/global.scss */
.fp-viewing-blue-section #loop-menu a {
  color: #8393a1;
}
/* line 409, ../sass/global.scss */
.fp-viewing-blue-section #block-down-arrow {
  background: url('/images/down-strelka.png?1455793570') no-repeat center center;
  background-color: #1d2a35;
}
/* line 415, ../sass/global.scss */
.fp-viewing-blue-section #block-up-arrow {
  background: url('/images/up-strelka.png?1455793698') no-repeat center center;
  background-color: #1d2a35;
}
/* line 421, ../sass/global.scss */
.fp-viewing-blue-section #section-menu-ic {
  background: url('/images/section-menu.png?1455793644') no-repeat center center;
  background-color: #1d2a35;
}
/* line 428, ../sass/global.scss */
.fp-viewing-blue-section .section-menu-block {
  background-color: rgba(29, 42, 53, 0.95);
}
/* line 432, ../sass/global.scss */
.fp-viewing-blue-section .section-menu-block a {
  color: #B8D4EA;
}

/* line 445, ../sass/global.scss */
.fp-viewing-like-section #loop-menu a {
  color: #77ae9a;
}
/* line 451, ../sass/global.scss */
.fp-viewing-like-section #block-down-arrow {
  background: url('/images/down-strelka.png?1455793570') no-repeat center center;
  background-color: #005c42;
}
/* line 456, ../sass/global.scss */
.fp-viewing-like-section #block-up-arrow {
  background: url('/images/up-strelka.png?1455793698') no-repeat center center;
  background-color: #005c42;
}
/* line 462, ../sass/global.scss */
.fp-viewing-like-section #section-menu-ic {
  background: url('/images/section-menu.png?1455793644') no-repeat center center;
  background-color: #005c42;
}
/* line 469, ../sass/global.scss */
.fp-viewing-like-section .section-menu-block {
  background-color: rgba(0, 92, 66, 0.95);
}
/* line 473, ../sass/global.scss */
.fp-viewing-like-section .section-menu-block a {
  color: #6AE8C5;
}

/* line 482, ../sass/global.scss */
.section-menu-block {
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}
/* line 494, ../sass/global.scss */
.section-menu-block.open {
  width: 100%;
  opacity: 1;
}

/* line 502, ../sass/global.scss */
.section-menu {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 24px;
  font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif;
}
/* line 514, ../sass/global.scss */
.section-menu li {
  margin-top: 30px;
  display: block;
}
/* line 520, ../sass/global.scss */
.section-menu li:first-child {
  margin-top: 0;
}
/* line 527, ../sass/global.scss */
.section-menu a {
  color: #79cd84;
  display: inline-block;
}
/* line 531, ../sass/global.scss */
.section-menu a:hover {
  color: #ffffff;
}

/* line 544, ../sass/global.scss */
.header {
  position: fixed;
  height: 116px;
  background: #ffffff;
  z-index: 999;
  width: 100% !important;
  top: 0;
}
/* line 553, ../sass/global.scss */
.header.fixed {
  z-index: 9999999999;
}
/* line 558, ../sass/global.scss */
.header .logo {
  margin-top: 28px;
  float: left;
  max-width: 270px;
}
/* line 564, ../sass/global.scss */
.header .logo a:hover {
  opacity: 0.7;
}
/* line 569, ../sass/global.scss */
.header .main-menu-block {
  float: right;
  max-width: 900px;
  margin-top: 50px;
}
/* line 575, ../sass/global.scss */
.header .main-menu-block .main-menu {
  font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 584, ../sass/global.scss */
.header .main-menu-block .main-menu li {
  display: inline-block;
  margin-left: 23px;
}
/* line 593, ../sass/global.scss */
.header .main-menu-block .main-menu li.active a, .header .main-menu-block .main-menu li:hover a {
  color: #32a43f;
}
/* line 603, ../sass/global.scss */
.header .main-menu-block .main-menu li a:hover {
  color: #238a2f;
}
/* line 609, ../sass/global.scss */
.header .main-menu-block .main-menu li:first-child {
  margin-left: 0;
}

/* line 623, ../sass/global.scss */
.footer .footer-top {
  height: 70%;
  padding: 4%;
  background: url('/images/contact-section-bg.png?1459260871') no-repeat right bottom;
  background-color: #238a2f;
}
/* line 632, ../sass/global.scss */
.footer .footer-top .footer-menu {
  font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif;
  float: left;
  margin-right: 20px;
  width: 20%;
}
/* line 639, ../sass/global.scss */
.footer .footer-top .footer-menu li {
  margin-top: 25px;
}
/* line 642, ../sass/global.scss */
.footer .footer-top .footer-menu li:first-child {
  margin-top: 0;
}
/* line 648, ../sass/global.scss */
.footer .footer-top .footer-menu li a {
  color: #ffffff;
}
/* line 652, ../sass/global.scss */
.footer .footer-top .footer-menu li a:hover {
  opacity: 0.7;
}
/* line 660, ../sass/global.scss */
.footer .footer-top .embed-soc {
  float: left;
  height: 100%;
  overflow: hidden;
  width: 518px;
}
/* line 667, ../sass/global.scss */
.footer .footer-top .embed-soc .pws_tabs_list {
  padding: 0;
}
/* line 674, ../sass/global.scss */
.footer .footer-top .embed-soc .pws_tab_single {
  top: 0;
  padding: 0;
  margin: 0;
}
/* line 680, ../sass/global.scss */
.footer .footer-top .embed-soc .embedd-soc-title {
  display: block;
}
/* line 685, ../sass/global.scss */
.footer .footer-top .embed-soc .pws_tabs_controll {
  width: 48px !important;
}
/* line 691, ../sass/global.scss */
.footer .footer-top .embed-soc .pws_tabs_controll li a {
  background: #c2e4c6;
}
/* line 695, ../sass/global.scss */
.footer .footer-top .embed-soc .pws_tabs_controll li a.pws_tab_active {
  background: #ffffff;
}
/* line 699, ../sass/global.scss */
.footer .footer-top .embed-soc .pws_tabs_controll li a.pws_tab_active:hover {
  opacity: 1;
}
/* line 706, ../sass/global.scss */
.footer .footer-top .embed-soc .pws_tabs_controll a {
  display: block;
  width: 48px;
  height: 43px;
  padding: 0;
  text-align: center;
  position: relative;
}
/* line 715, ../sass/global.scss */
.footer .footer-top .embed-soc .pws_tabs_controll a:hover {
  opacity: 0.7;
}
/* line 721, ../sass/global.scss */
.footer .footer-top .embed-soc .pws_tabs_controll a img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
/* line 737, ../sass/global.scss */
.footer .footer-socs {
  float: right;
  width: 20%;
}
/* line 742, ../sass/global.scss */
.footer .footer-socs svg {
  fill: #ffffff;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 18px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 751, ../sass/global.scss */
.footer .footer-socs svg path {
  fill: #ffffff !important;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 757, ../sass/global.scss */
.footer .footer-socs .footer-socs-item {
  color: #ffffff;
  display: block;
  margin-top: 22px;
}
/* line 768, ../sass/global.scss */
.footer .footer-socs .footer-socs-item.facebook-item:hover path {
  fill: #4862a3 !important;
}
/* line 778, ../sass/global.scss */
.footer .footer-socs .footer-socs-item.twitter-item:hover path {
  fill: #41abe1 !important;
}
/* line 787, ../sass/global.scss */
.footer .footer-socs .footer-socs-item.instagram-item:hover path {
  fill: #426f98 !important;
}
/* line 798, ../sass/global.scss */
.footer .footer-socs .footer-socs-item.tripadvisor-item:hover path {
  fill: #8fc661 !important;
}
/* line 809, ../sass/global.scss */
.footer .footer-socs .footer-socs-item.foursquare-item:hover path {
  fill: #f94877 !important;
}
/* line 819, ../sass/global.scss */
.footer .footer-socs .footer-socs-item.youtube-item:hover path {
  fill: #d82624 !important;
}
/* line 834, ../sass/global.scss */
.footer .footer-socs .footer-socs-item:first-child {
  margin-top: 0;
}
/* line 844, ../sass/global.scss */
.footer .footer-bottom {
  height: 64px;
  line-height: 64px;
}
/* line 849, ../sass/global.scss */
.footer .footer-bottom .footer-copyright {
  float: left;
  width: 50%;
  height: 100%;
}
/* line 855, ../sass/global.scss */
.footer .footer-bottom .footer-dev {
  float: right;
  text-align: right;
  width: 50%;
  height: 100%;
}
/* line 862, ../sass/global.scss */
.footer .footer-bottom .copyright-text {
  display: inline-block;
  vertical-align: middle;
}

/* line 875, ../sass/global.scss */
.fp-viewing-footer-section #loop-menu,
.fp-viewing-footer-section #section-menu-ic,
.fp-viewing-footer-section #block-down-arrow {
  display: none;
}
/* line 884, ../sass/global.scss */
.fp-viewing-footer-section #block-up-arrow {
  background: url('/images/up-strelka.png?1455793698') no-repeat center center;
  background-color: #47c756;
}

/* line 895, ../sass/global.scss */
.fp-viewing-green-section #block-up-arrow {
  display: none;
}

/* line 906, ../sass/global.scss */
.noactive-menu #loop-menu {
  opacity: 0.1;
}

/* line 914, ../sass/global.scss */
#loop-menu {
  position: fixed;
  bottom: 0px;
  top: 116px;
  margin: auto;
  left: 95px;
  z-index: 99;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 930, ../sass/global.scss */
#loop-menu li a {
  line-height: 20px;
  margin-top: 10px;
  display: inline-block;
}
/* line 936, ../sass/global.scss */
#loop-menu li a:hover {
  color: #ffffff;
}
/* line 945, ../sass/global.scss */
#loop-menu li.active a {
  color: #ffffff;
  position: relative;
}
/* line 950, ../sass/global.scss */
#loop-menu li.active a:before {
  display: block;
  content: "";
  position: absolute;
  left: -30px;
  width: 17px;
  height: 1px;
  background: #ffffff;
  margin: auto;
  top: 0;
  bottom: 0;
}
