/* line 3, ../sass/home.scss */
.basic,
.contact {
  background: #c4d1c5;
}
/* line 8, ../sass/home.scss */
.basic .overflow-layer,
.contact .overflow-layer {
  display: none;
}
/* line 13, ../sass/home.scss */
.basic .header,
.contact .header {
  width: 100% !important;
}
/* line 17, ../sass/home.scss */
.basic .footer,
.contact .footer {
  height: 500px;
}

/* line 23, ../sass/home.scss */
.site-content {
  padding-top: 172px;
  position: relative;
}

/* line 33, ../sass/home.scss */
.page-title {
  color: #ffffff;
  font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

/* line 43, ../sass/home.scss */
.page-content-wrap {
  position: relative;
}
/* line 49, ../sass/home.scss */
.page-content-wrap .page-content {
  position: relative;
  background: #ffffff;
  padding: 60px 65px 70px;
  z-index: 20;
}
/* line 59, ../sass/home.scss */
.page-content-wrap:before {
  display: block;
  content: "";
  width: 50px;
  height: 100%;
  background: url('/images/site-content-shadow-left.png?1456480731') no-repeat top left;
  position: absolute;
  left: -20px;
  top: 0;
  z-index: 10;
}
/* line 73, ../sass/home.scss */
.page-content-wrap:after {
  display: block;
  content: "";
  width: 50px;
  height: 100%;
  background: url('/images/site-content-shadow-right.png?1456480731') no-repeat top left;
  position: absolute;
  right: -20px;
  top: 0;
  z-index: 10;
}
