/* line 7, ../sass/news.scss */
.news-item {
  margin-top: 50px;
  position: relative;
}
/* line 12, ../sass/news.scss */
.news-item:before {
  display: block;
  content: "";
  width: 50%;
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: auto;
  height: 1px;
  background: #bbbbba;
}
/* line 27, ../sass/news.scss */
.news-item:first-child {
  margin-top: 0;
}
/* line 30, ../sass/news.scss */
.news-item:first-child:before {
  display: none;
}
/* line 36, ../sass/news.scss */
.news-item .news-item-img {
  float: left;
  margin-right: 20px;
  width: 360px;
  height: 144px;
  overflow: hidden;
}
/* line 44, ../sass/news.scss */
.news-item .news-item-img a {
  display: block;
  font-size: 0;
}
/* line 49, ../sass/news.scss */
.news-item .news-item-img a:hover {
  opacity: 0.7;
}
/* line 56, ../sass/news.scss */
.news-item .news-item-img img {
  width: 100%;
  min-height: 144px;
}
/* line 64, ../sass/news.scss */
.news-item .news-item-title {
  color: #238a2f;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
/* line 71, ../sass/news.scss */
.news-item .news-item-title a:hover {
  color: #71191b;
}
/* line 76, ../sass/news.scss */
.news-item .news-item-date {
  color: #808080;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}
/* line 84, ../sass/news.scss */
.news-item .news-item-text {
  padding-top: 23px;
  height: 131px;
  overflow: hidden;
}
/* line 91, ../sass/news.scss */
.news-item .news-item-desc {
  margin-top: 4px;
  color: #272727;
  line-height: 20px;
}

/* line 102, ../sass/news.scss */
.right-products {
  background: #ffffff;
}
/* line 107, ../sass/news.scss */
.right-products .our-products-item {
  height: 376px;
  position: relative;
}
/* line 113, ../sass/news.scss */
.right-products .our-products-item a {
  display: block;
}
/* line 117, ../sass/news.scss */
.right-products .our-products-item a:hover {
  opacity: 0.6;
}
/* line 122, ../sass/news.scss */
.right-products .our-products-item h2 {
  font-size: 18px;
  color: #238a2f;
  font-weight: bold;
  margin-bottom: 8px;
  line-height: 23px;
  max-height: 45px;
  overflow: hidden;
}
/* line 133, ../sass/news.scss */
.right-products .our-products-item .our-products-desc {
  display: block;
  padding: 0 25px;
  max-height: 131px;
  overflow: hidden;
}
/* line 142, ../sass/news.scss */
.right-products .our-products-item p {
  color: #000000;
  line-height: 20px;
}
/* line 148, ../sass/news.scss */
.right-products .our-products-item .our-products-readmore {
  display: inline-block;
  position: absolute;
  bottom: 9px;
  right: 0px;
  background: #71191b;
  color: #ffffff;
  line-height: 28px;
  padding: 2px 11px 0;
  font-size: 12px;
  fot-weight: bold;
}
/* line 173, ../sass/news.scss */
.right-products .bx-wrapper .bx-controls-direction a {
  top: -45px;
  margin: 0;
  width: 30px;
  height: 44px;
  overflow: hidden;
}
/* line 182, ../sass/news.scss */
.right-products .bx-wrapper .bx-prev {
  left: auto;
  right: 30px;
  background: none;
  text-indent: 0;
  font-size: 0;
}
/* line 192, ../sass/news.scss */
.right-products .bx-wrapper .bx-prev:before {
  display: block;
  content: "\2039";
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  left: 0;
  width: 10px;
  line-height: 44px;
  color: #ffffff;
  z-index: 99999;
  font-size: 36px;
  text-shadow: 0px 0px #d33036, 0.5px 1px #d33036, 1px 2px #d33036, 1.5px 3px #d33036, 2px 4px #d33036, 2.5px 5px #d33036, 3px 6px #d33036, 3.5px 7px #d33036, 4px 8px #d33036, 4.5px 9px #d33036, 5px 10px #d33036, 5.5px 11px #d33036, 6px 12px #d33036, 6.5px 13px #d33036, 7px 14px #d33036, 7.5px 15px #d33036, 8px 16px #d33036, 8.5px 17px #d33036, 9px 18px #d33036, 9.5px 19px #d33036, 10px 20px #d33036, 10.5px 21px #d33036, 11px 22px #d33036, 11.5px 23px #d33036, 12px 24px #d33036, 12.5px 25px #d33036, 13px 26px #d33036, 13.5px 27px #d33036, 14px 28px #d33036, 14.5px 29px #d33036, 15px 30px #d33036, 15.5px 31px #d33036, 16px 32px #d33036, 16.5px 33px #d33036, 17px 34px #d33036, 17.5px 35px #d33036, 18px 36px #d33036, 18.5px 37px #d33036, 19px 38px #d33036, 19.5px 39px #d33036, 20px 40px #d33036, 20.5px 41px #d33036, 21px 42px #d33036, 21.5px 43px #d33036, 22px 44px #d33036, 22.5px 45px #d33036, 23px 46px #d33036, 23.5px 47px #d33036, 24px 48px #d33036, 24.5px 49px #d33036, 25px 50px #d33036, 25.5px 51px #d33036, 26px 52px #d33036, 26.5px 53px #d33036, 27px 54px #d33036, 27.5px 55px #d33036, 28px 56px #d33036, 28.5px 57px #d33036, 29px 58px #d33036, 29.5px 59px #d33036, 30px 60px #d33036, 30.5px 61px #d33036, 31px 62px #d33036, 31.5px 63px #d33036, 32px 64px #d33036, 32.5px 65px #d33036, 33px 66px #d33036, 33.5px 67px #d33036, 34px 68px #d33036, 34.5px 69px #d33036, 35px 70px #d33036, 35.5px 71px #d33036, 36px 72px #d33036, 36.5px 73px #d33036, 37px 74px #d33036, 37.5px 75px #d33036, 38px 76px #d33036, 38.5px 77px #d33036, 39px 78px #d33036, 39.5px 79px #d33036, 40px 80px #d33036, 40.5px 81px #d33036, 41px 82px #d33036, 41.5px 83px #d33036, 42px 84px #d33036, 42.5px 85px #d33036, 43px 86px #d33036, 43.5px 87px #d33036, 44px 88px #d33036, 44.5px 89px #d33036, 45px 90px #d33036, 45.5px 91px #d33036, 46px 92px #d33036, 46.5px 93px #d33036, 47px 94px #d33036, 47.5px 95px #d33036, 48px 96px #d33036, 48.5px 97px #d33036, 49px 98px #d33036, 49.5px 99px #d33036, 50px 100px #d33036, 50.5px 101px #d33036, 51px 102px #d33036, 51.5px 103px #d33036, 52px 104px #d33036, 52.5px 105px #d33036, 53px 106px #d33036, 53.5px 107px #d33036, 54px 108px #d33036, 54.5px 109px #d33036, 55px 110px #d33036, 55.5px 111px #d33036, 56px 112px #d33036, 56.5px 113px #d33036, 57px 114px #d33036, 57.5px 115px #d33036, 58px 116px #d33036, 58.5px 117px #d33036, 59px 118px #d33036, 59.5px 119px #d33036, 60px 120px #d33036, 60.5px 121px #d33036, 61px 122px #d33036, 61.5px 123px #d33036, 62px 124px #d33036, 62.5px 125px #d33036, 63px 126px #d33036, 63.5px 127px #d33036, 64px 128px #d33036, 64.5px 129px #d33036, 65px 130px #d33036, 65.5px 131px #d33036, 66px 132px #d33036, 66.5px 133px #d33036, 67px 134px #d33036, 67.5px 135px #d33036, 68px 136px #d33036, 68.5px 137px #d33036, 69px 138px #d33036, 69.5px 139px #d33036, 70px 140px #d33036, 70.5px 141px #d33036, 71px 142px #d33036, 71.5px 143px #d33036, 72px 144px #d33036, 72.5px 145px #d33036, 73px 146px #d33036, 73.5px 147px #d33036, 74px 148px #d33036, 74.5px 149px #d33036, 75px 150px #d33036, 75.5px 151px #d33036, 76px 152px #d33036, 76.5px 153px #d33036, 77px 154px #d33036, 77.5px 155px #d33036, 78px 156px #d33036, 78.5px 157px #d33036, 79px 158px #d33036, 79.5px 159px #d33036, 80px 160px #d33036, 80.5px 161px #d33036, 81px 162px #d33036, 81.5px 163px #d33036, 82px 164px #d33036, 82.5px 165px #d33036, 83px 166px #d33036, 83.5px 167px #d33036, 84px 168px #d33036, 84.5px 169px #d33036, 85px 170px #d33036, 85.5px 171px #d33036, 86px 172px #d33036, 86.5px 173px #d33036, 87px 174px #d33036, 87.5px 175px #d33036, 88px 176px #d33036, 88.5px 177px #d33036, 89px 178px #d33036, 89.5px 179px #d33036, 90px 180px #d33036, 90.5px 181px #d33036, 91px 182px #d33036, 91.5px 183px #d33036, 92px 184px #d33036, 92.5px 185px #d33036, 93px 186px #d33036, 93.5px 187px #d33036, 94px 188px #d33036, 94.5px 189px #d33036, 95px 190px #d33036, 95.5px 191px #d33036, 96px 192px #d33036, 96.5px 193px #d33036, 97px 194px #d33036, 97.5px 195px #d33036, 98px 196px #d33036, 98.5px 197px #d33036, 99px 198px #d33036, 99.5px 199px #d33036, 100px 200px #d33036;
}
/* line 213, ../sass/news.scss */
.right-products .bx-wrapper .bx-next {
  left: auto;
  right: 0px;
  background: none;
  text-indent: 0;
  font-size: 0;
}
/* line 223, ../sass/news.scss */
.right-products .bx-wrapper .bx-next:before {
  display: block;
  content: "\203A";
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  left: 0;
  width: 10px;
  color: #ffffff;
  z-index: 99999;
  line-height: 44px;
  font-size: 36px;
  text-shadow: 0px 0px #d33036, 0.5px 1px #d33036, 1px 2px #d33036, 1.5px 3px #d33036, 2px 4px #d33036, 2.5px 5px #d33036, 3px 6px #d33036, 3.5px 7px #d33036, 4px 8px #d33036, 4.5px 9px #d33036, 5px 10px #d33036, 5.5px 11px #d33036, 6px 12px #d33036, 6.5px 13px #d33036, 7px 14px #d33036, 7.5px 15px #d33036, 8px 16px #d33036, 8.5px 17px #d33036, 9px 18px #d33036, 9.5px 19px #d33036, 10px 20px #d33036, 10.5px 21px #d33036, 11px 22px #d33036, 11.5px 23px #d33036, 12px 24px #d33036, 12.5px 25px #d33036, 13px 26px #d33036, 13.5px 27px #d33036, 14px 28px #d33036, 14.5px 29px #d33036, 15px 30px #d33036, 15.5px 31px #d33036, 16px 32px #d33036, 16.5px 33px #d33036, 17px 34px #d33036, 17.5px 35px #d33036, 18px 36px #d33036, 18.5px 37px #d33036, 19px 38px #d33036, 19.5px 39px #d33036, 20px 40px #d33036, 20.5px 41px #d33036, 21px 42px #d33036, 21.5px 43px #d33036, 22px 44px #d33036, 22.5px 45px #d33036, 23px 46px #d33036, 23.5px 47px #d33036, 24px 48px #d33036, 24.5px 49px #d33036, 25px 50px #d33036, 25.5px 51px #d33036, 26px 52px #d33036, 26.5px 53px #d33036, 27px 54px #d33036, 27.5px 55px #d33036, 28px 56px #d33036, 28.5px 57px #d33036, 29px 58px #d33036, 29.5px 59px #d33036, 30px 60px #d33036, 30.5px 61px #d33036, 31px 62px #d33036, 31.5px 63px #d33036, 32px 64px #d33036, 32.5px 65px #d33036, 33px 66px #d33036, 33.5px 67px #d33036, 34px 68px #d33036, 34.5px 69px #d33036, 35px 70px #d33036, 35.5px 71px #d33036, 36px 72px #d33036, 36.5px 73px #d33036, 37px 74px #d33036, 37.5px 75px #d33036, 38px 76px #d33036, 38.5px 77px #d33036, 39px 78px #d33036, 39.5px 79px #d33036, 40px 80px #d33036, 40.5px 81px #d33036, 41px 82px #d33036, 41.5px 83px #d33036, 42px 84px #d33036, 42.5px 85px #d33036, 43px 86px #d33036, 43.5px 87px #d33036, 44px 88px #d33036, 44.5px 89px #d33036, 45px 90px #d33036, 45.5px 91px #d33036, 46px 92px #d33036, 46.5px 93px #d33036, 47px 94px #d33036, 47.5px 95px #d33036, 48px 96px #d33036, 48.5px 97px #d33036, 49px 98px #d33036, 49.5px 99px #d33036, 50px 100px #d33036, 50.5px 101px #d33036, 51px 102px #d33036, 51.5px 103px #d33036, 52px 104px #d33036, 52.5px 105px #d33036, 53px 106px #d33036, 53.5px 107px #d33036, 54px 108px #d33036, 54.5px 109px #d33036, 55px 110px #d33036, 55.5px 111px #d33036, 56px 112px #d33036, 56.5px 113px #d33036, 57px 114px #d33036, 57.5px 115px #d33036, 58px 116px #d33036, 58.5px 117px #d33036, 59px 118px #d33036, 59.5px 119px #d33036, 60px 120px #d33036, 60.5px 121px #d33036, 61px 122px #d33036, 61.5px 123px #d33036, 62px 124px #d33036, 62.5px 125px #d33036, 63px 126px #d33036, 63.5px 127px #d33036, 64px 128px #d33036, 64.5px 129px #d33036, 65px 130px #d33036, 65.5px 131px #d33036, 66px 132px #d33036, 66.5px 133px #d33036, 67px 134px #d33036, 67.5px 135px #d33036, 68px 136px #d33036, 68.5px 137px #d33036, 69px 138px #d33036, 69.5px 139px #d33036, 70px 140px #d33036, 70.5px 141px #d33036, 71px 142px #d33036, 71.5px 143px #d33036, 72px 144px #d33036, 72.5px 145px #d33036, 73px 146px #d33036, 73.5px 147px #d33036, 74px 148px #d33036, 74.5px 149px #d33036, 75px 150px #d33036, 75.5px 151px #d33036, 76px 152px #d33036, 76.5px 153px #d33036, 77px 154px #d33036, 77.5px 155px #d33036, 78px 156px #d33036, 78.5px 157px #d33036, 79px 158px #d33036, 79.5px 159px #d33036, 80px 160px #d33036, 80.5px 161px #d33036, 81px 162px #d33036, 81.5px 163px #d33036, 82px 164px #d33036, 82.5px 165px #d33036, 83px 166px #d33036, 83.5px 167px #d33036, 84px 168px #d33036, 84.5px 169px #d33036, 85px 170px #d33036, 85.5px 171px #d33036, 86px 172px #d33036, 86.5px 173px #d33036, 87px 174px #d33036, 87.5px 175px #d33036, 88px 176px #d33036, 88.5px 177px #d33036, 89px 178px #d33036, 89.5px 179px #d33036, 90px 180px #d33036, 90.5px 181px #d33036, 91px 182px #d33036, 91.5px 183px #d33036, 92px 184px #d33036, 92.5px 185px #d33036, 93px 186px #d33036, 93.5px 187px #d33036, 94px 188px #d33036, 94.5px 189px #d33036, 95px 190px #d33036, 95.5px 191px #d33036, 96px 192px #d33036, 96.5px 193px #d33036, 97px 194px #d33036, 97.5px 195px #d33036, 98px 196px #d33036, 98.5px 197px #d33036, 99px 198px #d33036, 99.5px 199px #d33036, 100px 200px #d33036;
}
