/* line 9, ../sass/services.scss */
.services-slider {
  height: 573px;
}

/* line 16, ../sass/services.scss */
.services-intro,
.events-intro {
  background: #c4d1c5;
}
/* line 21, ../sass/services.scss */
.services-intro .header,
.events-intro .header {
  width: 100% !important;
}
/* line 25, ../sass/services.scss */
.services-intro .footer,
.events-intro .footer {
  height: 500px;
}

/* line 35, ../sass/services.scss */
.service-desc-block {
  background: rgba(255, 255, 255, 0.95);
  position: relative;
  width: 884px;
  margin: 0 auto;
  margin-top: -43px;
  left: 25px;
  padding: 27px;
  box-sizing: border-box;
}

/* line 47, ../sass/services.scss */
.services-slider-block {
  width: 891px;
  margin: 0 auto;
  position: relative;
}
/* line 54, ../sass/services.scss */
.services-slider-block .bx-controls-direction {
  position: absolute;
  left: 27px;
  bottom: 50px;
}
/* line 61, ../sass/services.scss */
.services-slider-block .bx-next {
  display: inline-block;
  background: url('/images/arrow-white-right.png?1456731587') no-repeat center center;
  background-color: #238a2f;
  font-size: 0;
  width: 37px;
  height: 30px;
  margin-left: 6px;
}
/* line 71, ../sass/services.scss */
.services-slider-block .bx-next:hover {
  opacity: 0.7;
}
/* line 77, ../sass/services.scss */
.services-slider-block .bx-prev {
  display: inline-block;
  background: url('/images/arrow-white-left.png?1456731587') no-repeat center center;
  background-color: #238a2f;
  font-size: 0;
  width: 37px;
  height: 30px;
}
/* line 87, ../sass/services.scss */
.services-slider-block .bx-prev:hover {
  opacity: 0.7;
}

/* line 95, ../sass/services.scss */
.services-pagination {
  position: absolute;
  top: 0px;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 40px;
  text-transform: uppercase;
  font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif;
  font-weight: bold;
}
/* line 107, ../sass/services.scss */
.services-pagination a {
  color: #000000;
  font-size: 18px;
}
/* line 115, ../sass/services.scss */
.services-pagination .service-prev {
  position: absolute;
  left: -130px;
  width: 130px;
  display: block;
  text-align: left;
}
/* line 123, ../sass/services.scss */
.services-pagination .service-prev:before {
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  background: url('/images/arrow-black-left.png?1456730824') no-repeat center center;
  float: left;
  margin-right: 5px;
  margin-top: -2px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 136, ../sass/services.scss */
.services-pagination .service-prev:hover {
  color: #238a2f;
}
/* line 140, ../sass/services.scss */
.services-pagination .service-prev:hover:before {
  background: url('/images/arrow-green-left.png?1456734750') no-repeat center center;
}
/* line 146, ../sass/services.scss */
.services-pagination .service-next {
  position: absolute;
  right: -130px;
  width: 130px;
  display: block;
  text-align: right;
}
/* line 154, ../sass/services.scss */
.services-pagination .service-next:before {
  display: inline-block;
  content: "";
  width: 22px;
  height: 22px;
  background: url('/images/arrow-black-right.png?1456730824') no-repeat center center;
  float: right;
  margin-left: 5px;
  margin-top: -2px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 169, ../sass/services.scss */
.services-pagination .service-next:hover {
  color: #238a2f;
}
/* line 173, ../sass/services.scss */
.services-pagination .service-next:hover:before {
  background: url('/images/arrow-green-right.png?1456734751') no-repeat center center;
}

/* line 183, ../sass/services.scss */
.services-left {
  float: left;
  width: auto;
}

/* line 188, ../sass/services.scss */
.services-right {
  float: right;
  width: auto;
}

/* line 194, ../sass/services.scss */
.service-details-date {
  position: absolute;
  right: 17px;
  bottom: 57px;
  color: #ffffff;
  z-index: 9;
}

/* line 204, ../sass/services.scss */
.service-soc {
  display: inline-block;
  height: 16px;
  color: #000000 !important;
  margin-left: 30px;
}
/* line 211, ../sass/services.scss */
.service-soc:first-child {
  margin-left: 0;
}
/* line 216, ../sass/services.scss */
.service-soc:hover {
  color: #238a2f !important;
}
/* line 222, ../sass/services.scss */
.service-soc:hover svg path {
  fill: #238a2f !important;
}
/* line 230, ../sass/services.scss */
.service-soc svg {
  height: 16px;
  width: 16px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: middle;
}
/* line 237, ../sass/services.scss */
.service-soc svg path {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 249, ../sass/services.scss */
.back-link a {
  background: url('/images/back-isari.png?1457516520') no-repeat left center;
  display: inline-block;
  padding-left: 14px;
  color: #000000;
}

/* line 268, ../sass/services.scss */
.services-brand-logo {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 55px;
  z-index: 999;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 283, ../sass/services.scss */
.fixed-header .services-brand-logo {
  z-index: 99 !important;
}

/* line 290, ../sass/services.scss */
.services-intro-brand .footer .footer-top {
  background: none;
}

/* line 296, ../sass/services.scss */
.events-timeline-item {
  float: left;
  width: 65px;
  text-align: right;
  font-size: 12px;
  position: relative;
  height: 12px;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 310, ../sass/services.scss */
.events-timeline-item.hovered, .events-timeline-item:hover {
  color: #ffffff !important;
}
/* line 315, ../sass/services.scss */
.events-timeline-item.hovered .events-calendar-text, .events-timeline-item:hover .events-calendar-text {
  opacity: 1;
  z-index: 999;
  height: 80px;
  padding: 11px 15px 11px 32px;
}
/* line 322, ../sass/services.scss */
.events-timeline-item.hovered .events-calendar-text .events-calendar-info,
.events-timeline-item.hovered .events-calendar-text .events-calenda-readmore, .events-timeline-item:hover .events-calendar-text .events-calendar-info,
.events-timeline-item:hover .events-calendar-text .events-calenda-readmore {
  opacity: 1;
}
/* line 331, ../sass/services.scss */
.events-timeline-item.hovered:hover, .events-timeline-item:hover:hover {
  z-index: 9999999;
}
/* line 336, ../sass/services.scss */
.events-timeline-item.hovered .events-time-line-pin, .events-timeline-item:hover .events-time-line-pin {
  background: #ffffff !important;
}
/* line 358, ../sass/services.scss */
.events-timeline-item:nth-child(14) .events-calendar-text, .events-timeline-item:nth-child(15) .events-calendar-text, .events-timeline-item:nth-child(16) .events-calendar-text, .events-timeline-item:nth-child(17) .events-calendar-text {
  -webkit-clip-path: polygon(94% 0, 98% 100%, 94% 80%, 0 80%, 0 0);
  clip-path: polygon(94% 0, 98% 100%, 94% 80%, 0 80%, 0 0);
  right: 0;
  left: auto;
}
/* line 370, ../sass/services.scss */
.events-timeline-item:nth-child(14):hover .events-calendar-text, .events-timeline-item:nth-child(15):hover .events-calendar-text, .events-timeline-item:nth-child(16):hover .events-calendar-text, .events-timeline-item:nth-child(17):hover .events-calendar-text {
  padding: 11px 32px 11px 15px;
}
/* line 381, ../sass/services.scss */
.events-timeline-item.empty-date {
  font-size: 0;
}
/* line 385, ../sass/services.scss */
.events-timeline-item.empty-date .events-time-line-pin {
  opacity: 0;
}
/* line 392, ../sass/services.scss */
.events-timeline-item .events-time-line-pin {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: auto;
  left: 0;
  right: 0;
  top: -23px;
  position: absolute;
  border: 3px solid transparent;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 409, ../sass/services.scss */
.events-calendar {
  padding: 27px 0;
  color: rgba(255, 255, 255, 0.3);
  height: 200px;
}

/* line 417, ../sass/services.scss */
.events-timeline-items {
  position: relative;
  border-toP: 3px solid transparent;
  padding-top: 15px;
  margin-top: 130px;
  -webkit-filter: grayscale(20%);
  filter: grayscale(20%);
  padding: 15px 50px 0 50px;
  height: 200px;
}

/* line 430, ../sass/services.scss */
.events-calendar-title {
  font-size: 24px;
  color: #ffffff;
  font-family: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif;
}

/* line 438, ../sass/services.scss */
.events-calendar-text {
  height: 0px;
  overflow: hidden;
  width: 359px;
  position: absolute;
  bottom: 22px;
  color: #ffffff;
  font-size: 14px;
  display: block;
  left: 10px;
  -webkit-clip-path: polygon(4% 0, 100% 0%, 100% 80%, 4% 80%, 0 100%);
  clip-path: polygon(4% 0, 100% 0%, 100% 80%, 4% 80%, 0 100%);
  border-right: 5px solid transparent;
  box-sizing: border-box;
  text-align: left;
  opacity: 0;
  padding: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 462, ../sass/services.scss */
.events-calendar-text:hover {
  color: #ffffff;
}
/* line 467, ../sass/services.scss */
.events-calendar-text .events-calendar-info {
  float: left;
  width: 218px;
  line-height: 22px;
  opacity: 0;
}

/* line 479, ../sass/services.scss */
.events-calenda-readmore {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  height: 45px;
  padding-left: 15px;
  display: block;
  float: right;
  width: 73px;
  line-height: 22px;
  text-align: center;
  opacity: 0;
}

/* line 498, ../sass/services.scss */
.events-calendar .bx-controls {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
}
/* line 505, ../sass/services.scss */
.events-calendar .bx-controls a {
  width: 37px;
  height: 30px;
  display: inline-block;
  margin-left: 6px;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 0;
}
/* line 514, ../sass/services.scss */
.events-calendar .bx-controls a:hover {
  opacity: 0.7;
}
/* line 519, ../sass/services.scss */
.events-calendar .bx-controls a.bx-prev {
  background: url('/images/calendar-arrow-left.png?1459424191') no-repeat center center;
}
/* line 526, ../sass/services.scss */
.events-calendar .bx-controls a.bx-next {
  background: url('/images/calendar-arrow-right.png?1459424191') no-repeat center center;
}
/* line 532, ../sass/services.scss */
.events-calendar .bx-controls a:first-child {
  margin-left: 0;
}
/* line 538, ../sass/services.scss */
.events-calendar .bx-wrapper {
  position: relative;
}

/* line 548, ../sass/services.scss */
.events-calendar-map {
  position: relative;
}
/* line 550, ../sass/services.scss */
.events-calendar-map #googlemaps {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 326px;
}

/* line 559, ../sass/services.scss */
.brand-map-overlay {
  opacity: 0.15;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
}

/* line 573, ../sass/services.scss */
.items-pager a {
  display: block;
  width: 109px;
  font-size: 0;
  float: left;
  margin: 0 7px;
}
/* line 584, ../sass/services.scss */
.items-pager a img {
  width: 100%;
  margin-top: 3px;
  margin-left: 3px;
  border: 3px solid transparent;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 600, ../sass/services.scss */
.items-pager {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

/* Replace the last selector for the type(s) of element(s) you have in
   your scroller.
   If you have images use #touchScroller div.scrollableArea img,
   If you have div's use #touchScroller div.scrollableArea div,
   if you have links use #touchScroller div.scrollableArea a,
   or add several selectors if you have mixed content
   ...and so on. */
/* line 615, ../sass/services.scss */
.items-pager div.scrollableArea a {
  position: relative;
  float: left;
  margin: 0;
  padding: 0 5px;
  /* If you don't want the images in the scroller to be selectable, try the following
     block of code. It's just a nice feature that prevent the images from
     accidentally becoming selected/inverted when the user interacts with the scroller. */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
