
$white: #ffffff;
$black: #000000;

//Basic Colors 

$green:#32a43f;
$red:#71191b;
$coral:#ca292b;
$blue:#1d2a35;
$like:#005c42;

$green:#238a2f;


$site-bg:  $white;
$text: #3d444a;
$link:  #555655;


$gray: #808080;







//Functio Shadow					
					
@function makelongshadow($color) {

  $val: 0px 0px $color;

  @for $i from 1 through 200 {

    $val: #{$val}, #{$i/2}px #{$i}px #{$color};

  }

  @return $val;

}

 

@mixin longshadow($color) {

  text-shadow: makelongshadow($color);
  

}


@mixin boxlongshadow($color) {

 box-shadow: makelongshadow($color);
  

}





$color: #d4343a;











$font-normal: "DejaVuSans", Arial, Sylfaen, sans-serif;


$font-upper: "bpg_nino_mtavruli_book_0", Arial, Sylfaen, sans-serif;
$font-geo:  "bpg_dejavu_sans-webfont", Arial, Sylfaen, sans-serif;



@import "compass/utilities";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";







