// global base - import in every stylesheet
@import "base";

@include global-reset;

/*
	bootstrap grid
*/
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
	content: " ";
	display: table;
	@include box-sizing(border-box);
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
	clear: both;
}


.container
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}



html
{
	min-height:100%;
	position: relative;
	
		

}

	
	
body 
{
	color: $text;
	font-size: 14px;
	
	font-family: $font-normal;
background-color:$site-bg;





}


.all-wrapper
{
	padding:0px 65px 0px!important;
	box-sizing:border-box
}

// Fonts
    
@include font-face("DejaVuSans", font-files('DejaVuSans/DejaVuSans.woff', 'DejaVuSans/DejaVuSans.ttf', 'DejaVuSans/DejaVuSans.svg'), 'DejaVuSans/DejaVuSans.eot');

@include font-face("bpg_nino_mtavruli_book_0", font-files('bpg_nino_mtavruli_book_0/bpg_nino_mtavruli_book_0.woff', 'bpg_nino_mtavruli_book_0/bpg_nino_mtavruli_book_0.ttf', 'bpg_nino_mtavruli_book_0/bpg_nino_mtavruli_book_0.svg'), 'bpg_nino_mtavruli_book_0/bpg_nino_mtavruli_book_0.eot');


@include font-face("bpg_dejavu_sans-webfont", font-files('bpg_dejavu_sans-webfont/bpg_dejavu_sans-webfont.woff', 'bpg_dejavu_sans-webfont/bpg_dejavu_sans-webfont.ttf', 'bpg_dejavu_sans-webfont/bpg_dejavu_sans-webfont.svg'), 'bpg_dejavu_sans-webfont/bpg_dejavu_sans-webfont.eot');







//Helper
*
{
	margin: 0;
	padding:0;
}

*:focus 
{
  outline: none;
}


a {
    text-decoration: none;
    @include transition(all 0.3s);
	color: $link;
	cursor: pointer;
    
    &:hover 
	{
        text-decoration: none;
		
		color: lighten($link,20%);
    }
	&:focus
	{
		outline:none;
	}
	&:focus 
	{
		color: lighten($link,20%);
	}

  	&:active 
	{
		color: lighten($link,20%);
	}
}

.right
{
float: right;
}
.abs-block
{
	position: fixed;
	width: 52px;
	right: 38px;
		bottom:0px;
	top:116px;
		margin: auto;
		z-index:99;
}

#block-down-arrow
{
	

	right: 38px;
	height:87px;

		background: image-url("down-strelka.png") no-repeat center center;
			background-color: $green;
	z-index:99;
	cursor: pointer;
	 @include transition(all 0.3s);
	 margin-top: 2px;
	
	&:hover
	{
		opacity:0.8;
	}
	

}


#block-up-arrow
{
	

	height:87px;
	width: 52px;
	
 margin-top: 2px;

		background: image-url("up-strelka.png") no-repeat center center;
			background-color: $green;
	z-index:99;
	cursor: pointer;
	 @include transition(all 0.3s);
	
	&:hover
	{
		opacity:0.8;
	}
	

}


#section-menu-ic
{
	
	

	height:63px;
	width: 52px;
	margin-top: 2px;

		background: image-url("section-menu.png") no-repeat center center;
			background-color: $green;
	z-index:99;
	cursor: pointer;
	 @include transition(all 0.3s);
	
	&:hover
	{
		opacity:0.8;
	}
	

}


.overflow-layer
{
	position:absolute;
	width:100%;
	height:100%;
}


#fullpage
{
//padding-top: 116px!important;
box-sizing:border-box;


.section
{


box-sizing:border-box;
}
.container-img
{
height:100%;
background-size: cover!important;
background-position: center center!important;
position:relative;
}

.fp-tableCell
{
display: block;
}
.fp-section.fp-table, .fp-slide.fp-table
{
display: block;
table-layout: none;
}

.emblema
{
width:100%;
height:100%;
background-repeat: no-repeat!important;
background-position: center center!important;
}

}

.fp-viewing-green-section
{
	
	#loop-menu
	{
		a
		{
			color:#75a182;
		}
	}
	
	#block-down-arrow
{
	background: image-url("down-strelka.png") no-repeat center center;
			background-color: $green;
}

	#block-up-arrow
{
	background: image-url("up-strelka.png") no-repeat center center;
			background-color: $green;
}

#section-menu-ic
{
	
			background: image-url("section-menu.png") no-repeat center center;
			background-color: $green;
			
}

		.section-menu-block
{
	background-color:rgba( $green, 0.95);
	
	a{
		color:#D0FFD6;
	}
}


}


.fp-viewing-red-section
{
	
	#loop-menu
	{
		a
		{
			color:#e6c1a4;
		}
	}
	
		#block-down-arrow
{
	background: image-url("down-strelka.png") no-repeat center center;
			background-color: $red;
}

	
		#block-up-arrow
{
	background: image-url("up-strelka.png") no-repeat center center;
			background-color: $red;
}

#section-menu-ic
{
	
			background: image-url("section-menu.png") no-repeat center center;
			background-color: $red;
			
			
}


.section-menu-block
{
	background-color:rgba( $red, 0.95);
	
	a{
		color:#EFA5A6;
	}
}
	
}


.fp-viewing-coral-section
{
	
	#loop-menu
	{
		a
		{
			color:#b77e7e;
		}
	}
	
			#block-down-arrow
{
	background: image-url("down-strelka.png") no-repeat center center;
			background-color: $coral;
}

			#block-up-arrow
{
	background: image-url("up-strelka.png") no-repeat center center;
			background-color: $coral;
}

#section-menu-ic
{
	
			background: image-url("section-menu.png") no-repeat center center;
			background-color: $coral;
			
}
		.section-menu-block
{
	background-color:rgba( $coral, 0.95);
	
	a{
		color:#F9B3B4;
	}
}
}


.fp-viewing-blue-section
{
	
	#loop-menu
	{
		
		
		a
		{
			color:#8393a1;
		}
	}
	
				#block-down-arrow
{
	background: image-url("down-strelka.png") no-repeat center center;
			background-color: $blue;
}

				#block-up-arrow
{
	background: image-url("up-strelka.png") no-repeat center center;
			background-color: $blue;
}

#section-menu-ic
{
	
			background: image-url("section-menu.png") no-repeat center center;
			background-color: $blue;
			
}
		.section-menu-block
{
	background-color:rgba( $blue, 0.95);
	
	a{
		color:#B8D4EA;
	}
}
}

.fp-viewing-like-section
{
	
	#loop-menu
	{
		
		
		a
		{
			color:#77ae9a;
		}
	}
	
#block-down-arrow
{
	background: image-url("down-strelka.png") no-repeat center center;
			background-color: $like;
}
#block-up-arrow
{
	background: image-url("up-strelka.png") no-repeat center center;
			background-color: $like;
}

#section-menu-ic
{
	
			background: image-url("section-menu.png") no-repeat center center;
			background-color: $like;
			
}
			.section-menu-block
{
	background-color:rgba( $like, 0.95);
	
	a{
		color:#6AE8C5;
	}
}
}




.section-menu-block
{
	width:0;
	height:100%;
	background:rgba($white,0.95);
	position:absolute;
	top:0;
	right:0;
	overflow:hidden;
	 @include transition(all 0.5s);
	 opacity: 0;
	
	&.open
	{
		width:100%;
		opacity: 1;
	}
	
	
}
.section-menu
{
	position:absolute;
	margin:auto;
	top:0;
	left: 0;
	right:0;
	bottom:0;
	text-align:center;
	font-size:24px;
	font-family: $font-upper;
	
	li
	{
		
		margin-top:30px;
		display: block;
		
		&:first-child
		{
			margin-top:0;
		}
	}
	
	
	a{
		color:#79cd84;
		display: inline-block;
		
		&:hover
		{
			color: $white;
		}

	}
	
	
}


// Header

.header
{
	position: fixed;
	height:116px;
	background: $white;
	z-index:999;
	width:100%;
	top:0;
	
	.logo
	{
	margin-top: 28px;
	float: left;
	max-width: 270px;
	
	a:hover
	{
		opacity:0.7;
	}
	}
	.main-menu-block
	{
	float: right;
	max-width: 900px;
	margin-top:50px;
	
	.main-menu
	{
	font-family: $font-upper;
	font-size: 18px;
	font-weight: bold;
	
		li
		{
			display:inline-block;
			margin-left:37px;
			
			
			&.active,
			&:hover
			{
				a
				{
					color:#32a43f;
				}
				
			}
			
			
			a
	{
	&:hover
	{
	color:$green;
	}
	}
			
			&:first-child
			{
				margin-left:0;
			}
		}
	}
	}
}

//footer
.footer 
{
	
	
	.footer-top
	{ 
	
	height:70%;
	padding: 4%;
	background: image-url("contact-section-bg.png") no-repeat right bottom;
	background-color: $green;
	
	
	.footer-menu
	{
		font-family: $font-upper;
		float: left;
		margin-right:20px;
		width:20%;
		
		li{
			margin-top: 25px;
			
			&:first-child
			{
				margin-top: 0;
			}
		}
		
		li a
		{
			color: $white;
			
			&:hover
			{
				opacity:0.7;
			}
		}
	}
	
	
	.embed-soc
	{
		float: left;
		height:100%;
		overflow:hidden;
		width:518px;
		
		.pws_tabs_list
		{
		//	width:100%!important;
		
		padding:0;
		}
		
		.pws_tab_single
		{
			top:0;
			padding:0;
			margin:0;
		}
		.embedd-soc-title
		{
			display:block;
		}
		
		.pws_tabs_controll
		{
			//position:absolute;
			//left:-43px;
			width:48px!important;
			
			li a
			{
				background: #c2e4c6;
				
				&.pws_tab_active
				{
					background: $white;
					
					&:hover
					{
						opacity: 1;
					}
				}
			}
			
		 a
		{
			display:block;
			width: 48px;
			height: 43px;
			padding:0;
			text-align:center;
			position:relative;
			
			&:hover
			{
				opacity:0.7;
			}
			
			
			img
			{
				position: absolute;
				top:0;
				bottom:0;
				margin:auto;
				left:0;
				right:0;
			}
		}
		}
	}
	
	
	}
	
	.footer-socs
	{
	float: right;
	width: 20%;
	
	svg
	{
	fill:$white;
	width:25px;
	height:25px;
	vertical-align: middle;
	margin-right: 18px;
	@include transition(all 0.3s);
	
	path
	{
		fill:$white!important;
		@include transition(all 0.3s);
	}
	}
	.footer-socs-item
	{
	color:$white;
	display:block;
	margin-top:22px;
	
	
	
	
&.facebook-item:hover
{
	path
	{
		fill:#4862a3!important;
	}
	
	
}

&.twitter-item:hover
{
	path
	{
		fill:#41abe1!important;
	}
	
	
}
&.instagram-item:hover
{
	path
	{
		fill:#426f98!important;
	}
	
	
}


&.tripadvisor-item:hover
{
	path
	{
		fill:#8fc661!important;
	}
	
	
}


&.foursquare-item:hover
{
	path
	{
		fill:#f94877!important;
	}
	
	
}

&.youtube-item:hover
{
	path
	{
		fill:#d82624!important;
	}
	
	
}







	
	&:first-child
	{
	margin-top:0;
	}
	}
	}
	
	
	
	
	.footer-bottom
	{
		height:64px;
		line-height: 64px;
		
		.footer-copyright
		{
			float:left;
			width:50%;
			height:100%;
		}
				.footer-dev
		{
			float:right;
			text-align:right;
			width:50%;
			height:100%;
		}
		.copyright-text
		{
			display:inline-block;
			vertical-align: middle;
		}
		
		
		
	}
}

.fp-viewing-footer-section
{
	#loop-menu,
	#section-menu-ic,
	#block-down-arrow
		{
		display:none;
	}
	
	
	
	#block-up-arrow
{
	background: image-url("up-strelka.png") no-repeat center center;
	background-color: #47c756;
}
	
	
	}

.fp-viewing-green-section
{
	#block-up-arrow
	{
		display:none;
	}
}

//SECTIONS

.noactive-menu
{

#loop-menu
{

	opacity:0.1;
}	
}


#loop-menu
{
position:fixed;
bottom:0px;
top:116px;
margin: auto;
left:95px;
z-index:99;
@include transition(all 0.5s);




li
{
		
	a
	{
		line-height:20px;
		margin-top: 10px;
		display: inline-block;
		
		&:hover
		{
			color:$white;
		}
		
	}
	
	
	
	&.active a
	{
		color:$white;
		position:relative;
		
		&:before
		{
			display: block;
			content: "";
			position:absolute;
			left: -30px;
			width: 17px;
			height: 1px;
			background: $white;
			margin: auto;
			top:0;
			bottom:0;
		}
	}
}
}




