// global base - import in every stylesheet
@import "base";

#slider1_container
{
	margin: auto;
	left:0;
	right:0;
	background: $black;
}





.slide-item
{
	position: relative;
	background-position: center center!important;
	background-size: cover!important;
	opacity: 0.45;
		//@include transition(all 0.3s);
	
	
	&.current
	{
			opacity: 1;
	}
	
	
	.slide-info
	{
		position: absolute;
		top: 206px;
		left: 215px;
		background: rgba($white, 0.9);
		padding: 20px 20px 45px;
		width: 403px;

			.slide-info-overflow
			{
						max-height: 268px;
		overflow: hidden;
		
			}
		
		.slider-title
		{
			color: $red;
	
			font-size: 30px;
			font-weight: bold;
			margin-bottom:10px;
			line-height: 38px;
		}
		
		p
		{
			line-height:27px;
		}
		
	}
}


.front-slider-arrows
{
		position: absolute;
		top:0;
		margin: auto;
		left:0;
		right:0;
		
}


.front-slider-arrow-left,
.front-slider-arrow-right
{
	width: 31px!important;
	height: 50px!important;
	background: $red;
	display: block;
	position: absolute;
	top : 285px!important;
	bottom: 0;
	cursor: pointer;
	opacity: 0.8;
	@include transition(all 0.3s);
	
	&:hover
	{
		opacity: 1;
	}
}

.front-slider-arrow-left
{
	left:0;
	
	
			background: image-url("front-slider-arrow-left.png") no-repeat center center;
}
.front-slider-arrow-right
{
	right: 0;
	background: image-url("front-slider-arrow-right.png") no-repeat center center;
}

.slider-readmore
{
		position: absolute;
	bottom:-18px;
	right:-10px;
}


.slider-readmore,
.moer-offers
{
display:inline-block;
	background: $red;
	color:$white;
	line-height:39px;
	padding: 0 10px;
	overflow: hidden;
	@include longshadow(darken($color, 1 ));
	font-weight: bold;
	
	&:hover
	{
	color: $white;
	
	opacity:0.7
	}
	
	&:after
	{
		display: inline-block;
		content: "";
		width:12px;
		height: 13px;
			background: image-url("slider-readmore-ic.png") no-repeat center center;
			margin-left: 60px;
			@include boxlongshadow(darken($color, 1 ));
	}
	
}







//Current Akcies block



.current-offers 
{
	background: image-url("current-block-bg.png") repeat-x top center;
	min-height:300px;

	
	.container
	{
		
			position:relative;
		
			&:before
	{
		display: block;
		content: "";
		width:155px;
		height: 156px;
			background: image-url("best-price-ic.png") no-repeat center center;
			position:absolute;
			top:  -68px;
			right: -15px;
			z-index:99


	}
	}
	
	
	
	

.section-title
{
	padding-top: 5px;
	
	&:before
	{
		display: inline-block;
		content:"";
		
		background: image-url("akcies-ic.png") no-repeat center center;
		width: 28px;
		height: 28px;
		background-size: cover;
		margin-right: 10px;
		vertical-align: top;
		margin-top: -5px;


	}
	
	
	
	
}


.current-offers-item
{
	
	a:hover{
		opacity: 0.7;
	}
	
	.current-offer-action
	{
		display:inline-block;
		background:#dadada;
		line-height: 27px;
		padding:2px 9px 0;
		font-weight: bold;
		font-size: 13px;
	}
	.current-offer-title
	{
		color: $red;
		font-size:18px;
		font-weight:bold;
		line-height:24px;
			margin-top:9px;
			max-height:48px;
			overflow:hidden;
		
		a{
			color: $red;

			
		}
	}
	
	
	.current-offers-img
	{
		position: relative;
		width: 358px;
		height: 216px;
		margin-bottom:6px;
		height: 217px;
		overflow:hidden;
		
		img
		{
			height: 216px;
			min-width: 358px;
		}
		
		a
		{
			color: $black;
			display: block;
			font-size: 0;
		}
	}
	
	.discount-price
	{
		position:absolute;
		bottom: 27px;
		right: -5px;
		background: $white;
		line-height: 29px;
		font-size: 20px;
		font-family:$font-geo;
		padding: 3px  3px 3px 7px;
	

		.old-price
		{
			padding-top: 2px;
						display:inline-block;
						position:relative;
						font-size: 16px;
						
						&:before
						{
							display:block;
							content:"";
							width:105%;
							height:1px;
							background: $red;
							@include transform(rotate(-10deg));
							position:absolute;
							top: 50%;
							margin:auto;
							left:0;
							right:0;
						}
		}
		.new-price
		{
			display:inline-block;
			color:$white;
			background: $red;
			padding:2px 10px 0 12px;
			
		}
	}
	
}


.current-more-offers
{
	text-align:center;
	margin-top: 35px;
}



}



//Our Products

.our-products
{
	background: image-url("our-products-bg.jpg") repeat-x top center;
	height:592px;
	overflow: hidden;
	
	.section-title
	{
	&:before
	{
		display: inline-block;
		content:"";
		
		background: image-url("productsi-ic.png") no-repeat center center;
		width: 23px;
		height: 23px;
		background-size: cover;
		margin-right: 10px;
		vertical-align: top;
		margin-top: 0px;


	}
		
	}
	
	
	//tabs
	
	.pws_tabs_controll
	{
		margin-bottom:20px;
		
	}
	
	.pws_tabs_container ul.pws_tabs_controll li a
	{
		background: transparent;
		color:#515151;
		padding: 0 10px;
		line-height: 36px;
		position:relative;
		
		
		&:hover
		{
			color: $red;
		}
		
				&:after
		{
			display:inline-block;
			content: "";
			width: 0;
			height: 0;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-top:12px solid $white;
			position:absolute;
			bottom:-11px;
			margin: auto;
			left:0;
			right:0;
			opacity:0;
			 @include transition(all 0.3s);

		}
						&:before
		{
			display:inline-block;
			content: "";
			width: 0;
			height: 0;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-top:12px solid #58a07c;
			position:absolute;
			bottom:-12px;
			margin: auto;
			left:0;
			right:0;
			opacity:0;
			 @include transition(all 0.3s);

		}
		
		&.pws_tab_active
		{
			background: $white;
			color: $red;
			border-bottom: 1px solid $green;
			
			&:before,
			&:after
			{
				opacity:1;
			}
			
			.our-products-tab:before
			{
				@include filter(grayscale(0));
			}
		}
	}
	
	.our-products-tab
	{
		display: inline-block;
		
		

		
		&:before
		{
			display:inline-block;
			content: "";

			@include filter(grayscale(100%));
			margin-right: 5px;
			vertical-align:middle;
		}
				&.veget:before
		{
			background: image-url("veget-ic.png") no-repeat center center;
			width:20px;
			height: 19px;
		}
		

		
		&.halfpabric:before
		{
			background: image-url("halfpabric-ic.png") no-repeat center center;
			width:22px;
			height: 19px;
		}	
		
		
			
		&.cakes:before
		{
			background: image-url("cackes-ic.png") no-repeat center center;
			width:20px;
			height: 16px;
		}	
		
		
		&.drink:before
		{
			background: image-url("drink-ic.png") no-repeat center center;
			width:18px;
			height: 23px;
		}	
		
		
		
						&.gastro:before
		{
			background: image-url("gastro-ic.png") no-repeat center center;
			width:22px;
			height: 19px;
		}
		
		
						&.all-cat:before
		{
			background: image-url("all-cat-ic.png") no-repeat center center;
			width:20px;
			height: 20px;
		}
		
	}
	
	
	
	//Slider
	
	.pws_tabs_list
	{
		background: transparent;
		padding: 0;
		overflow:visible;
	}
	.bx-wrapper .bx-viewport
	{
		padding-right: 6px;
	}
	
	
	
	
	
	
	
	
	
	
	
	.bx-wrapper .bx-prev
	{
		background: image-url("our-slider-left.png") no-repeat center center;
		left: -57px;
	}
	
	.bx-wrapper .bx-next
	{
		background: image-url("our-slider-right.png") no-repeat center center;
		right: -57px;
	}
	
	.our-products-slider
	{
	
	}
	
	.our-products-item
	{
		background: $white;
		height:376px;
		position:relative;
		
		a{
			display:block;
		}
		
		a:hover
		{
			opacity:0.6;
		}
		
		h2
		{
			font-size: 18px;
			color: $green;
			font-weight:bold;
			margin-bottom:8px;
			line-height:23px;
			max-height: 45px;
			overflow: hidden;
		}
		
		.our-products-desc
		{
			display:block;
			padding: 0 25px;
			max-height: 131px;
			overflow:hidden;
			
		}
		
		p
		{
			color:$black;
			line-height:20px;
		}
		
		.our-products-readmore
		{
			display: inline-block;
			position:absolute;
			bottom: 9px;
			right: -6px;
			background: $red;
			color: $white;
			line-height:28px;
			padding:2px 11px 0;
			font-size:12px;
			fot-weight: bold;
			
		}
		
		
	}
	
	
}




//Front NEws

.front-news
{
	
	
		.section-title
	{
	&:before
	{
		display: inline-block;
		content:"";
		
		background: image-url("productsi-ic.png") no-repeat center center;
		width: 23px;
		height: 23px;
		background-size: cover;
		margin-right: 10px;
		vertical-align: top;
		margin-top: 0px;


	}
		
	}
	
	
	
	.front-news-date
	{
		color: #9d9d9d;
		font-size: 12px;
		font-weight:bold;
		margin-bottom: 5px
	}
	
	.front-news-img{
	a
	{
		display: block;
		font-size: 0;
		margin-bottom:15px;
		
		&:hover
		{
			opacity: 0.6;
		}
	}
	}
	
	
	h2
	{
		color: $green;
		font-size: 16px;
		font-weight: bold;
		margin-bottom:7px;
		line-height:22px;
		
		a{
					color: $green;
					
					&:hover
					{
						color: $red;
					}
		}
	}
	
	p
	{
		line-height: 20px;
	}
	
	
	.facebook-follow-title
	{
				color: $green;
		font-size: 16px;
		font-weight: bold;
		margin-bottom:7px;
		line-height:22px;
		margin-top: 10px;
	}
	
		.facebook-follow-text
	{
line-height: 20px;
	}
}



//map


#googlemaps
{
	height:715px;
}


.home-map
{
	position: relative;
	
	.home-map-head
	{
		background: rgba($black, 0.5);
		padding:  15px 0;
		width: 100%;
		z-index: 99;
		
		.container
		{
			position:relative;
		}
		
		.section-title
		{
			color: $white;
			position:absolute;
			left:0;
			
				&:before
	{
		display: inline-block;
		content:"";
		
		background: image-url("home-map-ic.png") no-repeat center center;
		width: 18px;
		height: 24px;
		background-size: cover;
		margin-right: 10px;
		vertical-align: top;
		margin-top: -2px;


	}
	
			
		}
		
		
		
	}
	
	
	.pws_tabs_list
	{
		background: transparent;
		padding: 0;
		height: 57px;
	}
	
	.pws_tabs_controll
	{
		text-align: right;
		
	}
	
	.pws_tab_single
	{
		width:100%;
		padding:0;
		color: $black;
		top:0;
	}
	
	.pws_tabs_controll
	{
		margin-bottom: 35px;
	}
	
	
	.pws_tabs_container ul.pws_tabs_controll li
	{
		margin-left: 20px;
		
		&:first-child
		{
			margin-left: 0;
			}
	}
	
	.pws_tabs_container
	{
		z-index:999;
		position:relative;
	}
	.pws_tabs_container ul.pws_tabs_controll li a
	{
		background: transparent;
		padding:0;
		line-height:28px;
		color: #dbdbdb;
		display:block;
		position:relative;
		
		&:hover
		{
			opacity:0.6;
		}
		
		
		
					&:after
		{
			display:inline-block;
			content: "";
			width: 0;
			height: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top:7px solid #747472;
			position:absolute;
			bottom:-7px;
			margin: auto;
			left:0;
			right:0;
			opacity:0;
			 @include transition(all 0.3s);

		}
						&:before
		{
			display:inline-block;
			content: "";
			width: 0;
			height: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top:7px solid $white;
			position:absolute;
			bottom:-8px;
			margin: auto;
			left:0;
			right:0;
			opacity:0;
			 @include transition(all 0.3s);

		}
		
		
		&.pws_tab_active
		{
			color: $white;
			border-bottom:1px solid $white;
			
									&:before,
									&:after
									{
										opacity: 1;
									}
									
											&:hover
		{
			opacity:1;
		}
		
	
	
		}
	}
	
	.home-map-head
	{
	height: 146px;
	overflow: hidden;
	position:absolute;
	top: 0;
	}
	.home-contact-item
	{
		background: $white;
		cursor:pointer;		
		
		 padding:6px 11px 12px 8px;
		 @include transition(all 0.3s);
		 
		 &:hover
		 {
			 opacity: 0.7;
		 }
		
		img
		{
			height:13px;
			margin-bottom:10px;
		}
	}
	
	
	.home-contact-slider-block
	{
		width: 960px;
		margin: 0 auto;
	}
	.bx-wrapper .bx-prev
	{
		left: -50px;
				background: image-url("home-contact-slider-left.png") no-repeat center center;
		
	}
	
		.bx-wrapper .bx-next
	{
		right: -50px;
		background: image-url("home-contact-slider-right.png") no-repeat center center;
	}
	
	
	
}


