// global base - import in every stylesheet
@import "base";




.news-item
{
	margin-top: 50px;
	position:relative;
	
	&:before
	{
		display:block;
		content: "";
		width: 50%;
		position:absolute;
		top:-20px;
		left: 0;
		right: 0;
		margin: auto;
		height: 1px; 
		background:#bbbbba;
		
	}
	
	&:first-child
	{
		margin-top: 0;
			&:before
	{
		display:none;
	}
	}

.news-item-img
{
	float: left;
	margin-right:20px;
	width: 360px;
	height:144px;
	overflow:hidden;
	
	a
	{
		display: block;
		font-size:0;
		
		&:hover
		{
			opacity:0.7;
		}
		
	}
	
	img
	{
		width: 100%;
		min-height:144px;
	}
	
}

.news-item-title
{
	color: $green;
	font-weight:bold;
	font-size: 18px;
	line-height:30px;
	
	a:hover{
		color: $red;
	}
}

.news-item-date
{
	color: $gray;
	font-size: 12px;
	font-weight:bold;
	margin-bottom:4px;
	
}
.news-item-text
{
	padding-top: 23px;
    height: 131px;
    overflow: hidden;
}

.news-item-desc
{
	margin-top: 4px; 
	color: #272727;
	line-height:20px;
}

		
}


.right-products 
{
	
	background: $white;
	
	.our-products-item
	{

		height:376px;
		position:relative;
		
		a{
			display:block;
		}
		
		a:hover
		{
			opacity:0.6;
		}
		
		h2
		{
			font-size: 18px;
			color: $green;
			font-weight:bold;
			margin-bottom:8px;
			line-height:23px;
			max-height: 45px;
			overflow: hidden;
		}
		
		.our-products-desc
		{
			display:block;
			padding: 0 25px;
			max-height: 131px;
			overflow:hidden;
			
		}
		
		p
		{
			color:$black;
			line-height:20px;
		}
		
		.our-products-readmore
		{
			display: inline-block;
			position:absolute;
			bottom: 9px;
			right: 0px;
			background: $red;
			color: $white;
			line-height:28px;
			padding:2px 11px 0;
			font-size:12px;
			fot-weight: bold;
			
			&:hover
			{
				//opacity:1;
				//color: $green;
			}
			
		}
		
		
	}
	
	
	.bx-wrapper .bx-controls-direction a
	{
		top: -45px;
		margin:0;
		width: 30px;
		height: 44px;
		overflow: hidden;
	}
	
	.bx-wrapper .bx-prev
	{
		left:auto;
		right:30px;
		
		background: none;
		text-indent: 0;
		font-size: 0;
		
		
		&:before
		{
			display:block;
			content:"\2039";
			color:$white;
			position:absolute;
			top: 0;
			right:0;
						margin: auto;
			left:0;
			width: 10px;
			line-height: 44px;
			
			color: #ffffff;
			z-index: 99999;
			font-size: 36px;
			@include longshadow(darken($color, 1 ));

		}
	}
	
		.bx-wrapper .bx-next
	{
		left:auto;
		right:0px;
		
		background: none;
		text-indent: 0;
		font-size: 0;
		
		
		&:before
		{
			display:block;
			content:"\203A";
			color:$white;
			position:absolute;
			top: 0;
			right:0;
			margin: auto;
			left:0;
			width: 10px;
			
			
			color: #ffffff;
			z-index: 99999;
			line-height: 44px;
			font-size: 36px;
			@include longshadow(darken($color, 1 ));

		}
	}
	
	
	
}




//.our-products-right
//{
//	position:relative;
//	
//	&:before
//	{
//		display:block;
//		content: "";
//		width: 10px;
//		height: 29.5px;
//		background: $red;
//		position:absolute;
//		right:-9px;
//		bottom: 9px;
//	}
//	
//
//}














