/*
	body/images stuff
*/
/*.node-form  #edit-body {
	width: 70%;
	float: left;
}
.node-form  #edit-field-multiimage {
	width: 30%;
	float: right;
}*/
	.node-form  #edit-field-multiimage table {
		table-layout: fixed;
	}
	.node-form  #edit-field-multiimage fieldset.form-wrapper {
		margin-top: 0;
		border: 0;
	}
	.node-form  #edit-field-multiimage input.form-text {
		max-width: 150px;
	}
	.node-form  #edit-field-multiimage .image-preview img {
		width: 50px;
		height: auto;
	}
	.node-form  #edit-field-multiimage .tabledrag-handle {
		display: none;
	}
	.node-form  #edit-field-multiimage tr td:last-child, 
	.node-form  #edit-field-multiimage tr th:last-child {
		width: 85px;
	}
	.node-form  #edit-field-multiimage .image-widget:before,
	.node-form  #edit-field-multiimage .image-widget:after {
		content: " ";
		display: table;
	}
	.node-form  #edit-field-multiimage .image-widget:after {
		clear: both;
	}
	.node-form  #edit-field-multiimage .image-widget-data {
		float: none;
		margin-left: 60px;
	}
		.node-form  #edit-field-multiimage .form-managed-file .image-widget-data {
			margin-left: 0;
		}
	.node-form  #edit-field-multiimage .tabledrag-toggle-weight-wrapper {
		display: none;
	}




/*
	categories stuff
*/
.node-form .field-type-taxonomy-term-reference .form-item.form-type-checkbox {
	display: inline-block;
	padding: 3px 5px;
	margin-right: 10px;
	background: #eee;
}
